@import "../../scss/_main";
.user-list{
  display: flex;
}
.menu-list{
  width: 20%;
  height: 100%;
}
.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;
}
table{
  width: 100%;
}
