@import "../../scss/_main";
.user-list{
  width: 100%;
  min-width: 30rem;
}

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;
}
table{
  width: 100%;
}
