*{
  font-style: inherit;
  font-size: 1.5rem;

}

.new-hotel{
  display: flex;
}
.menu-list {
  width: 210px;
  height: 100%;
}

.hotel {
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 20px auto;
  padding-top: 90px;
  & h1{
    text-align: center;
    font-size: 2rem;
    font-style: 700;
  }
}
