<div class="new-hotel">
  <simple-notifications></simple-notifications>
  <div class="menu-list">
    <app-negative-bar></app-negative-bar>
  </div>
  <div class="hotel">
    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup" label="Add Hotel">
        <app-add-hotel></app-add-hotel>

      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Add Room">
        <app-add-room></app-add-room>

      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Add Benefit">
        <app-add-benefits></app-add-benefits>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup" label="Add Facility">
        <app-add-facilities></app-add-facilities>
      </mat-step>

    </mat-stepper>
  </div>
</div>
