<div class="update-room">
  <div class="room mb-5">
    <div class="room-detail-infor">
      <h1>Update Room Images</h1>
      <div class="group-input">
        <mat-form-field appearance="fill" class="select">
          <mat-label>Hotel</mat-label>
          <mat-select [formControl]="hotelControl" required (selectionChange)="changeHotel($event.value)">
            <mat-option *ngFor="let hotel of hotels" [value]="hotel">
              {{hotel.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hotelControl.hasError('required')">Please choose a hotel</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="select select-room">
          <mat-label>Room</mat-label>
          <mat-select [formControl]="roomControl" required (selectionChange)="changeRoom($event.value)">
            <mat-option *ngFor="let roomType of roomTypes" [value]="roomType">
              {{roomType.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="roomControl.hasError('required')">Please choose a room</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="room-list-image">
      <div class="group-input">
        <button (click)="open(content)" class="m-auto btn btn-outline-success">Add Images</button>
        <button class="m-auto btn btn-outline-danger" (click)="deleteListImageForRoomType()">Delete Images</button>
      </div>
      <br>
      <small class="text-danger d-inline-block p-5">*should upload photos with 16:9 resolution for best quality content</small>
      <br>
      <div class="list-image">
        <div class="room-image" *ngFor="let image of roomType.listImage">
          <img src={{image.src}} alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Image picker</h5>
    <<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row shadow p-5 m-5">
      <label>
        <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" multiple="multiple" />
        <small *ngIf="overLimit" class="text-danger">This hotel has over limited images, please remove old image first!</small>
      </label>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="upload()" [disabled]="!isSelected">Upload
    </button>
    <button type="button" class="btn btn-primary m-3" (click)="c('Save click')" (click)="addListImageForRoomType()"
      data-bs-dismiss="modal" [disabled]="!isUploaded">Save changes
    </button>
  </div>
</ng-template>
