@import "../../shared/scss/main";
* {
  font-style: inherit;
  font-size: .9rem;
}
.room {
  box-shadow: 20px 20px 50px 15px grey;
  border-radius: 10px;
  padding: 10px;
  background-color: aliceblue;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;

  &-image {
    width: 40%;
    height: 200px;
    margin-bottom: 30px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  &-detail-infor {
    padding-left: 3rem;
    width: 100%;
  }

  &-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;

    &:hover {
      color: #3513ca;
      background: #ede8ee;
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    }
  }
}

.list-image {
  width: 100%;
  height: auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.labels {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.update-room {
  display: flex;
  height: auto;

  &-btn {
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

    &-save {
      background-color: rgb(13, 55, 243);
    }
    &-enable {
      background-color: rgb(13, 196, 44);
    }
    &-disable {
      background-color: rgb(230, 34, 8);
    }
  }
}

.group-input {
  display: flex;
  padding-top: 1rem;
}

.select {
  width: 45%;
  padding: 10px;
  background-color: aliceblue;

  &-room {
    margin-left: 40px;
  }
}

.form-submit {
  text-align: center;
}
