@import "../../shared/scss/main";

* {
  font-style: inherit;
  font-size: 1.1rem;
}
.room {
  box-shadow: 20px 20px 50px 15px grey;
  border-radius: 10px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;


  & h1 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  &-detail-infor {
    width: 100%;
  }

  &-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;

    &:hover {
      color: #3513ca;
      background: #ede8ee;
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    }
  }
}

.list-image {
  width: 100%;
  height: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.update-room {
  display: flex;
  height: auto;

  &-btn {
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
}

.group-input {
  display: flex;
  justify-content: space-around;
}

.select {
  width: 31%;
}

@media (max-width: 40rem) {
  .list-image  {
    flex-direction: column;
  }

  .room-image{
    width: 100%;
  }
}

.img-fluid{
  width: 100%;
}
