<div class="container">
  <main class="main">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="col-md-12">
          <mat-form-field appearance="fill" class="select">
            <mat-label>Facility Type</mat-label>
            <mat-select [formControl]="facilityTypeControl" required>
              <mat-option *ngFor="let facilityType of facilityTypes" [value]="facilityType">
                {{facilityType.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="facilityTypeControl.hasError('required')">Please choose a type of facility</mat-error>
          </mat-form-field>
        </div>
        <form [formGroup]="facilityGroup" class="needs-validation">
          <div class="card mt-2r">
            <div class="card-header ">
              <div class="header-container">
                <span class="product-header">
                  Add Facility
                </span>
                <svg *ngIf="facilityTypeControl.value.id" (click)="addFacility()" xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" fill="currentColor" class="bi bi-plus-square-fill plusIcon"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                </svg>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <ul class="list-group">
                    <li class="list-group-item" formArrayName="facilities"
                      *ngFor="let facility of facilityGroup.get('facilities')['controls']; let i = index;">
                      <div [formGroupName]="i" class="row">
                        <div class="col-4">
                          <input type="text" formControlName="name" class="form-control" placeholder="Facility name"
                            value="" required>
                          <span *ngIf="facility.get('name').errors && facility.get('name').hasError('required')"
                            class="validation">* required</span>
                        </div>
                        <div class="col-6">
                          <input type="text" formControlName="icon" class="form-control" placeholder="Facility Icon"
                            value="">
                        </div>
                        <div class="col-2">
                          <svg (click)="deleteFacility(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-trash-fill deleteIcon" viewBox="0 0 16 16">
                            <path
                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                          </svg>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <button (click)="saveFacility()" class="mt-20 w-100 btn btn btn-outline-primary btn-lg" type="button"
            [disabled]="!facilityGroup.valid || isDisable">Add Facility</button>
        </form>
      </div>
    </div>
  </main>
</div>