.menu-list {
  width: 20%;
  height: 100%;
}

.response {
  display: flex;
  &-detail {
    border: 1px solid red;
    width: 75%;
    display: flex;
    margin-top: 90px;
    padding-left: 100px;
  }

  &-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;

    &:hover {
      color: #3513ca;
      background: #ede8ee;
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    }
  }
}
.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.message{
  height: auto;
}
