@import "src/app/shared/scss/_main";

.input{
  font-style: inherit;
  font-weight: 400;
  font-size: 1.2rem;
  padding: .3rem;
  border-radius: .3rem;
}

.control-error{
  font-style: inherit;
  font-weight: 300;
  font-size: 1.5rem;
}

