@import "main";
.user-info{
  display: flex;
  align-items: center;
  box-shadow: .1rem .1rem .1rem .1rem rgba($color-grey-dark-2, .4);
  padding: 2rem;
  & *:not(:last-child){
    margin-right: 2rem;
  }
}

.upload-form{

}

#profileImage {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #512DA8;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  &:hover{
    filter: blur(1px);
  }
}

.user-name-detail{

}

.btn-edit{
  margin-left: auto;
}

.user-avatar{
  width: 9rem;
  height: 9rem;
  cursor: pointer;
  &:hover{
    filter: blur(1px);
  }
}

.dropdown-content{
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  margin: 1rem 0;
  box-shadow: .2rem .2rem .2rem .2rem rgba($color-grey-dark-2, .5);
}

