<div class="hotel-detail">
  <div class="hotel">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Completed">
        <app-booking [hotelId]="hotelId"></app-booking>
      </mat-tab>
      
      <mat-tab label="Up Coming">
        <app-up-coming-booking [bookings]="upComingBookings" ></app-up-coming-booking>
      </mat-tab>

      <mat-tab label="Cencel">
        <app-cancel-list [bookings]="cancelList" ></app-cancel-list>
      </mat-tab>
      
      <mat-tab label="Review">
        <div class="review-card" *ngFor="let review of reviews">
          <app-review [review]="review"></app-review>
        </div>
        <div *ngIf="reviews.length > 0" class="m-auto">
          <mat-paginator [length]="total" [pageSize]="pageSize" (page)="getPaginatorData($event)" aria-label="Select page">
          </mat-paginator>
        </div>
        <div *ngIf="reviews.length === 0" class="noData">
          <span class="text-center text-danger">
            This hotel don't have any review yet!</span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
