<div class="hotel-detail">
  <div class="menu-list">
    <app-negative-bar></app-negative-bar>
  </div>
  <div class="hotel">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Bookings">
        <app-booking [hotelId]="hotelId"></app-booking>
      </mat-tab>
      <mat-tab label="Review">
        <div class="review-card" *ngFor="let review of reviews">
          <app-review [review]="review"></app-review>
        </div>
        <div class="m-auto">
          <mat-paginator [length]="total" [pageSize]="pageSize" (page)="getPaginatorData($event)" aria-label="Select page">
          </mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Up Coming">
        <app-up-coming-booking [bookings]="upComingBookings" ></app-up-coming-booking>
      </mat-tab>
    </mat-tab-group>
  </div>
