* {
  font-style: inherit;
  font-size: 1.5rem;
}
.hotel-detail{
  display: flex;
}
.menu-list{
  width: 20%;
  height: 100%;
}
.hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  margin-top: 90px;
  padding: 15px;
  border-radius: 10px;
  background-color: aliceblue;
}
.mat-tab-group {
  width: 100%;
}
