<div class="vip-ranking mb-5">
  <div class="vip-ranking__header">
    <ng-container *ngIf="!account.avatar">
      <div class="profile-image me-3">
        <div id="profileImage" data-bs-toggle="modal"
             data-bs-target="#exampleModal">{{account?.firstname?.charAt(0)}}{{account?.lastname?.charAt(0)}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="account.avatar">
      <img class="user-avatar me-3" [src]="account.avatar" data-bs-toggle="modal"
           data-bs-target="#exampleModal">
    </ng-container>
    <label class="vip-ranking__header--name">{{account?.firstname}}, interested in becoming a VIP?</label>
  </div>
  <div class="vip-ranking__status">
    <p>Status</p>
    <label
      class="{{account.vip?.id===2?'text-silver':account.vip?.id===3?'text-gold':account.vip?.id===4?'text-plat':account.vip?.id===5?'text-diamond':'text-grey'}}"><strong>{{account?.vip?.nameVip}}</strong></label>
  </div>
  <div class="vip-ranking__booking-count">
    <p>Bookings in last 2 years</p>
    <label class="text-primary"><strong>{{bookingCount}}</strong> completed</label>
  </div>
  <div class="vip-ranking__progress">
    <div class="vip-ranking__progress__header">
      <p class="vip-ranking__progress__header--title">Booking progress</p>
      <p class="vip-ranking__progress__header--count text-primary"> {{bookingCount}}/20 bookings</p>
    </div>
    <div class="vip-ranking__progress__progress-bar">
      <div class="vip-ranking__progress__progress-bar--level-bar" id="progress-bar"></div>
      <div class="level-circle vip-ranking__progress__progress-bar--silver"
           [ngClass]="{'shine-outside': bookingCount>=2}">
        <div class="center-star" [ngClass]="{'shine': bookingCount>=2}"><i class="fa fa-star"></i></div>
      </div>
      <div class="level-circle vip-ranking__progress__progress-bar--gold"
           [ngClass]="{'shine-outside': bookingCount>=5}">
        <div class="center-star" [ngClass]="{'shine': bookingCount>=5}"><i class="fa fa-star"></i></div>
      </div>
      <div class="level-circle vip-ranking__progress__progress-bar--platinum"
           [ngClass]="{'shine-outside': bookingCount>=10}">
        <div class="center-star" [ngClass]="{'shine': bookingCount>=10}"><i class="fa fa-star"></i></div>
      </div>
      <div class="level-circle vip-ranking__progress__progress-bar--diamond"
           [ngClass]="{'shine-outside': bookingCount>=20}">
        <div class="center-star" [ngClass]="{'shine': bookingCount>=20}"><i class="fa fa-star"></i></div>
      </div>
    </div>
  </div>
</div>
<app-user-vip-vip-data></app-user-vip-vip-data>

