<div class="room">
  <div class="room-image">
    <img src={{imageSrc}} alt="" data-bs-toggle="modal" [attr.data-bs-target]="'#room-type-image-modal-'+room.id">
  </div>
  <div class="room-info">
    <div class="room-info-name">{{room.name}}</div>
    <ul class="room-info-amenities-list">
      <li class="room-info-amenities-list-item">
        <span>Available rooms: {{room.availableRooms}}</span>
      </li>
      <li class="room-info-amenities-list-item">
        <span>Number of people: {{room.numberOfPeople}}</span>
      </li>
      <li class="room-info-amenities-list-item">
        <span>Price: {{room.price}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <!-- Modal -->
        <div class="modal fade" id="room-type-image-modal-{{room.id}}" tabindex="-1" aria-labelledby="room-type-image-modal-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div id="carouselImageRoomTypeControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <app-images-carousel [listImage]="room.listImage"></app-images-carousel>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselImageRoomTypeControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselImageRoomTypeControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
