<div class="room">
  <div class="room-image">
    <img src={{imageSrc}} alt="" (click)="open(content)">
  </div>
  <div class="room-info">
    <div class="room-info-name">{{room.name}}</div>
    <ul class="room-info-amenities-list">
      <li class="room-info-amenities-list-item">
        <span>Available rooms: {{room.availableRooms}}</span>
      </li>
      <li class="room-info-amenities-list-item">
        <span>Number of people: {{room.numberOfPeople}}</span>
      </li>
      <li class="room-info-amenities-list-item">
        <span>Price: {{room.price}}</span>
      </li>
    </ul>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss" class="w-70">
  <div class="modal-body">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image.src" alt="">
          </div>
        </ng-template>
    </ngb-carousel>
  </div>
</ng-template>
