@import "../../scss/_main";
.room{
  width: 100%;
  display: flex;
  border: 1px solid rgb(89, 117, 240);

  &-image{
    width: 40%;
    padding: 5px;

    & img{
      width: 100%;
      height: 160px;
      border-radius: 5px;

      &:hover{
        transform: scale(1.02);
      }
    }
  }

  &-info{
    width: 60%;
    padding: 5px;
    margin-left: 20px;

    &-name{
      font-size: 22px;
      font-weight: 700;
      height: 60px;
      line-height: 40px;
    }

    &-amenities-list{
      height: 85px;
      width: 80%;
      margin: 0 0 13px 0;
      display: block;

      &-item{
        font-size: 16px;
        text-align: left;
        height: 25px;
        list-style: none;
        line-height: 20px;
        padding-bottom: 10px;
      }
    }
  }
}
.modal-body{
  transform: translateX(-20rem);
  background: none;
  width: 70rem;
  height:auto;
  max-height: 37rem;
  padding: 0;
}
.modal-content{
  background: none;
}
.picsum-img-wrapper{
  width: 100%;
  height: 100%;
  & img{
    object-fit: fill !important;
    width: 70rem;
    max-height: 37rem;
    border-radius: .5rem;
  }
}
