<div class="container-fluid">
  <div class="row justify-content-center">
    <section class="col-md-8 item-center p-5 mt-5 mb-5 shadow rounded">
      <app-booking></app-booking>
    </section>
  </div>
  <div class="row justify-content-center">
    <section class="col-md-10 bg-white bg-opacity-100 item-center p-5 mt-5 mb-5 shadow rounded">
      <app-top-location></app-top-location>
    </section>
  </div>
  <div class="row justify-content-center d-none d-sm-none d-md-flex ">
    <section class="col-md-10 item-center top-hotel bg-white p-5 shadow rounded">
      <app-top-hotels></app-top-hotels>
    </section>
  </div>
  <div class="row">
    <section class="section-features">
      <div class="row">
        <div class="col-md-3">
          <div class="feature-box">
            <i class="feature-box__icon material-icons">support_agent</i>
            <h3 class="text-secondary"><strong>24/7 Support</strong></h3>
            <p class="text-secondary">
              Our support service works 24/7 and ready to support at any time.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-box">
            <i class="feature-box__icon material-icons">payment</i>
            <h3 class="text-secondary"><strong>Quick and easy pay</strong></h3>
            <p class="text-secondary">
              Quick and easy pay with VNPAY support. Any payment method is provided include credit cards, ATM card and
              more.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-box">
            <i class="feature-box__icon material-icons">cancel_schedule_send</i>
            <h3 class="text-secondary"><strong>Free cancellation</strong></h3>
            <p class="text-secondary">
              Cancel at any time before check in date. With paid booking, a support ticket is necessary for a refund.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-box">
            <i class="feature-box__icon material-icons">attach_money</i>
            <h3 class="text-secondary"><strong>Best price</strong></h3>
            <p class="text-secondary">
              We provide the best price on the market with many sales and coupon. More sales are applied with loyal
              customers.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>