@import "../../../../shared/scss/main";

.rounded{
  border-radius: 1.5rem !important;
}

.col-md-8{
  max-width: 100rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.col-md-10{
  max-width: 120rem;
}

.section-features {
  margin-top: 10rem!important;
  padding: 20rem 3rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary, 0.8),
      rgba($color-primary, 0.8)),
  url('/assets/img/background-2.jpg');
  background-size: cover;
  //transform: skewY(-7deg);
  margin-top: -10rem;

  //& > * {
  //  transform: skewY(7deg);
  //}

}

.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000000, .15);
  transition: transform .3s;
  cursor: pointer;


  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ffffff, #dddddd);
    -webkit-background-clip: text;
    color: green;

  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
