<h2 class="form-header">Sign in</h2>

<form class="form-body" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label>Email</label>
    <app-authentication-input type="text" placeholder="Email"
                              [control]="form?.controls['email']!"></app-authentication-input>
  </div>
  <div class="form-control">
    <label>Password</label>
    <app-authentication-input type="password" placeholder="Password"
                              [control]="form?.controls['password']!"></app-authentication-input>
  </div>
  <div class="form-submit">
    <button  class="btn-login">
      Login
    </button>
  </div>
  <div class="form-redirection">
    <a routerLink="../register" class="">Register</a>
    <a routerLink="./forgot-password" class="">Forgot Password?</a>
  </div>
</form>
