.dropdown-button {
  cursor: pointer;

  &:hover {
    background-color: $color-secondary;
  }
}

.btn-credit {
  border: none;
  background-color: #fff;
  font-style: inherit;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-fill {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: $color-tertiary;
  color: #fff;
  border-radius: .3rem;
}

.btn-plain {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fff;
  color: $color-tertiary;
  border-radius: .3rem;
}

.btn-logout {
  background-color: #FF1818;
  color: white;
}

.btn-md{
  width: 10rem;
}

.btn-purple{
  background-color: #11468F;
}

.btn-blue{
  background-color: #2666CF;
}

.btn-green{
  background-color: #2EB086;
}

.btn-orange{
  background-color: #F76E11;
}
