
.lbl-md {
  font-size: 2rem;
  font-weight: 400;
}

.text-blue-1{
  color: $color-blue-1;
}

.text-blue-2{
  color: $color-blue-2;
}

.text-blue-3{
  color: #1C658C;
}

.text-orange-1{
  color: #E45826;
}

.text-orange-2{
  color: #E83A14;
}

.text-black-1{
  color: #1B1A17;
}

.text-yellow-1{
  color: #F0A500;
}

.text-red-1{
  color: #890F0D;
}

.text-red-2{
  color: #630606;
}

label {
  font-size: 2rem;
}

.text-grey{
  color: $color-grey-light-3;
}

.text-deep-white{
  color: #F6F6F6;
}

.text-grey-dark-1{
  color: #4d4d54;
}

.text-purple-1{
  color: #051367;
}

.text-purple-2{
  color: #2D31FA;
}



a {
  &,
  &::before,
  &::after {
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
  }
}

button{
  font-size: 2rem;
}

li {
  list-style: none;
}

button{
  cursor: pointer;
}

