.item-center{
  text-align: center;
}

.item-halfwidth{
  width: 50%;
}
.item-fullwidth{
  width: 100%;
}

.user-avatar{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bg-grey{
  background-color: $color-grey-light-2;
}

.bg-light-grey{
  background-color: $color-grey-light-1;
}

.pointer{
  cursor: pointer;
}
