.booking {
  display: flex;

  &-table {
    width: 75%;
    padding-top: 90px;
  }
}

.menu-list {
  width: 20%;
  height: 100%;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

