@import "../../scss/_main";

.booking {
  grid: 1rem;
  width: 100%;
  min-width: 30rem;

  &-table {
    width: 100%;
    margin: 3rem auto;
  }
}
table {
  width: 100%;
}
.mat-row:hover{
  background-color: rgb(196, 194, 194);
  cursor: pointer;
}