@import "../../scss/_main";
.booking {
  display: flex;

  &-table {
    width: 75%;
    padding-top: 90px;
    margin: 20px auto;
  }
}

.menu-list {
  width: 13rem;
  height: 100%;
}

table {
  width: 100%;
}
