<div class="booking">
  <div class="menu-list">
    <app-taskbar [currentTask]="currentTask"></app-taskbar>
  </div>
  <div class="booking-table">
    <ngx-spinner type="ball-scale-multiple">
      <p style="font-size: 20px; color: white;">Loading...</p>
    </ngx-spinner>
    <table class="mat-elevation-z8" mat-table [dataSource]="bookings">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td width="100" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td width="100" mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <!-- hotel Column -->
      <ng-container matColumnDef="hotel">
        <th mat-header-cell *matHeaderCellDef> Hotel </th>
        <td width="200" mat-cell *matCellDef="let element"> {{element.hotel?.name}} </td>
      </ng-container>

      <!-- hotel Column -->
      <ng-container matColumnDef="checkIn">
        <th mat-header-cell *matHeaderCellDef> Check In </th>
        <td width="300" mat-cell *matCellDef="let element"> {{element.checkIn}} </td>
      </ng-container>

      <!-- paid Column -->
      <ng-container matColumnDef="checkOut">
        <th mat-header-cell *matHeaderCellDef> Check Out </th>
        <td width="300" mat-cell *matCellDef="let element"> {{element.checkOut}}</td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        < mat-header-cell *matHeaderCellDef>
        <th mat-header-cell *matHeaderCellDef>
          <!-- <select class="form-select form-select-sm" (change)="filterBooking($event)">
            <option selected value="1">Pending</option>
            <option value="2">Accepted</option>
            <option value="3">Denied</option>
            <option value="4">Cancel</option>
          </select> -->
        </th>

        <td width="100" mat-cell *matCellDef="let element">
          {{element?.status == 0 ? 'Cancelled' : element?.status == 1 ? 'Processing' : 'Completed'}}
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBookingDetail(row.id)"></tr>
    </table>
    <div>
      <mat-paginator [length]="total" [pageSize]="pageSize" (page)="getPaginatorData($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
