<div class="container-fluid p-0 bg-white">
  <div class="inner-container row bg-white">
    <div class="col-md-1"></div>
    <div class="nav-column col-md-3 p-0 pt-3">
      <ul class="nav flex-column bg-white">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link p-3" [routerLink]="['/user','bookings']"  queryParamsHandling="preserve">My Bookings</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link p-3" [routerLink]="['/user','user-feedback']">My Feedbacks</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link p-3" [routerLink]="['/user','profile']">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link p-3" [routerLink]="['/user','vip']">Vip Status</a>
        </li>
      </ul>
    </div>
    <div class="user-detail col-md-7 p-5">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
