@import "main";

.container-fluid{
  height: 100%;
}

.nav-user-active {
  background-color: $color-tertiary;
  color: #fff;
}

.nav-column{
  box-shadow: 1rem 0 1rem -1rem rgba($color-grey-dark-2, .3)!important;
}

.inner-container{
  height: 100%;
}

