@import "main";

.container-fluid{
  height: 100%;
}

.active {
  background-color: $color-tertiary;
  color: #fff!important;
}

.nav-column{
  box-shadow: 1rem 0 1rem -1rem rgba($color-grey-dark-2, .3)!important;
}

.inner-container{
  height: 100%;
  max-width: 120rem;
  margin: auto;
  min-height: 80vh;
}

.nav-link{
  color: black;
}

