<div class="container-fluid">
  <div class="row bg-light-grey">
    <div class="col-md-1"></div>
      <div class="nav-column col-md-3 p-0 pt-3">
        <ul class="nav flex-column bg-light-grey">
          <li class="nav-item" *ngFor="let item of navItems">
            <a routerLinkActive="nav-user-active" class="nav-link p-3"
               [routerLink]="['/user'+item.id]">{{item.name}}</a>
          </li>
        </ul>
      </div>
    <div class="user-detail col-md-7 p-5">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
