<simple-notifications></simple-notifications>
<form class="form-body" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Sign up</h2>
  <div class="form-control">
    <label>Username</label>
    <app-authentication-input type="text" placeholder="Username" [control]="form.controls['username']"></app-authentication-input>
  </div>
  <div class="form-control">
    <label>Email</label>
    <app-authentication-input type="text" placeholder="Email" [control]="form.controls['email']"></app-authentication-input>
  </div>
  <div class="form-control">
    <label>Password</label>
    <app-authentication-input type="password" placeholder="Password" [control]="form.controls['password']"></app-authentication-input>
  </div>
  <div class="form-control">
    <label>Confirm Password</label>
    <app-authentication-input type="password" placeholder="Confirm Password" [control]="form.controls['confirmPassword']"></app-authentication-input>
  </div>
  <div class="form-submit">
    <button class="btn-blue btn-fill item-fullwidth" [disabled]="form.invalid">Sign up</button>
  </div>
</form>
