<form [formGroup]="form" class="change-password-form">
  <div class="form-control">
    <label>Old Password</label>
    <app-authentication-input type="password" placeholder="Old Password"
                              [control]="form.controls['oldPass']"></app-authentication-input>
  </div>
  <div class="form-control">
    <label>New Password</label>
    <app-authentication-input type="password" placeholder="New Password"
                              [control]="form.controls['newPass']"></app-authentication-input>
  </div>
  <div class="form-control">
    <label>Confirm New Password</label>
    <app-authentication-input type="password" placeholder="Confirm New Password"
                              [control]="form.controls['confirmNewPass']"></app-authentication-input>
  </div>
  <button class="btn-logout btn-fill btn-md">Cancel</button>
  <button class="btn-fill btn-md" (click)="onSave()">Save</button>
</form>
