<div class="mat-elevation-z8">
  <table mat-table [dataSource]="bookings">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Booking ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- hotel Column -->
    <ng-container matColumnDef="hotel">
      <th mat-header-cell *matHeaderCellDef> Hotel </th>
      <td mat-cell *matCellDef="let element"> {{element.hotel?.name}} </td>
    </ng-container>

    <!-- paid Column -->
    <ng-container matColumnDef="totalPaid">
      <th mat-header-cell *matHeaderCellDef> Total Paid </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPaid}}</td>
    </ng-container>

    <!-- hotel Column -->
    <ng-container matColumnDef="checkIn">
      <th mat-header-cell *matHeaderCellDef> Check In </th>
      <td mat-cell *matCellDef="let element"> {{element.checkIn}} </td>
    </ng-container>

    <!-- paid Column -->
    <ng-container matColumnDef="checkOut">
      <th mat-header-cell *matHeaderCellDef> Check Out </th>
      <td mat-cell *matCellDef="let element"> {{element.checkOut}}</td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        {{element?.status == 0 ? 'Cancelled' : element?.status == 1 ? 'Upcoming' : 'Completed'}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBookingDetail(row.id)"></tr>

  </table>
  <div *ngIf="bookings.length === 0" class="noData">
    <span class="text-center text-danger">
     This user don't have any booking yet!</span>
  </div>
</div>
