<header>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.0.0/css/all.css">
</header>
<div class="booking-detail">
  <div class="booking-detail__summary">
    <label>Booking ID: {{booking?.id}}</label>
    <a class="btn-fill">Review your stay</a>
    <a class="btn-plain">Book again</a>
  </div>
  <div class="booking-detail__hotel-info">
    <img class="booking-detail__hotel-info--image" [src]="booking.hotel?.avatar" alt="Hotel Image">
    <div class="booking-detail__hotel-info--header">
      <a><h2>{{booking.hotel?.name}}</h2></a>
      <div class="booking-detail__hotel-info--header--rating">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      </div>
      <h3>{{booking.hotel?.address}}, {{booking.hotel?.district.nameDistrict}}, {{booking.hotel?.district.cityFK.nameCity}}</h3>
    </div>
    <div class="booking-detail__hotel-info--date">
      <div class="booking-detail__hotel-info--date--checkin">
        <h2>Check in</h2>
        <h1>{{booking.checkIn | date: 'dd/MM/yyyy'}}</h1>
      </div>
      <div class="booking-detail__hotel-info--date--duration">
        <p>{{booking.totalDays}} night(s)</p>
      </div>
      <div class="booking-detail__hotel-info--date--checkout">
        <h2>Check out</h2>
        <h1>{{booking.checkOut | date: 'dd/MM/yyyy'}}</h1>
      </div>
    </div>
    <div class="booking-detail__hotel-info--function">
      <a class="booking-detail__hotel-info--function--confirm"><h2><i class="fa fa-paper-plane" aria-hidden="true"></i> Get booking confirmation</h2></a>
      <a class="booking-detail__hotel-info--function--change-date"><h2><i class="fa fa-calendar" aria-hidden="true"></i> Change dates</h2></a>
    </div>
  </div>
  <div class="booking-detail__room-info">
    <ng-container *ngFor="let bookingDetail of bookingDetails">
      <app-user-booking-detail-card [bookingDetail]="bookingDetail"></app-user-booking-detail-card>
    </ng-container>
  </div>
  <div class="booking-detail__guest-info">
    <div class="booking-detail__guest-info--header">
    <h1>Guess information</h1>
    <h3>Lead guess</h3><h2>{{account.firstname}} {{account.lastname}}</h2>
    </div>
    <div class="booking-detail__guest-info--capacity">
      <h3>Capacity</h3>
      <h2>2 Adults</h2>
    </div>
    <div class="booking-detail__guest-info--function">
      <a class="booking-detail__guest-info--function--confirm"><h2><i class="fa-solid fa-users"></i> Manage guests</h2></a>
    </div>
  </div>
  <div class="booking-detail__payment-info"></div>
</div>
