@import "src/app/shared/scss/_main";
.btn-resend{
  margin-top: 2rem;
  cursor: pointer;
}

.otp-checker{
  transform: translateY(100px);
  width:40%;
  margin: 0 auto;
  background-color: aliceblue;
  text-align: center;
}

.lable{
  height: 100px;
}
