<div class="row">
  <div class="card p-0">
    <div class="card-body p-5">

      <h3><span
        class="material-icons me-3 text-orange-2">warning</span> You have chosen to pay by <strong> VNPAY</strong></h3>
      <h3><span
        class="material-icons me-3 text-orange-2">warning</span> The total amount you have to pay is
        <strong>{{booking.totalPaid| number}} đ</strong></h3>
      <button class="btn btn-primary float-end" (click)="proceed()">PROCEED TO VNPAY</button>
    </div>
    <div class="card-footer">
      <h3>We'll send confirmation of your booking to your email</h3>
    </div>
  </div>
</div>
