<div class="container-fluid">
  <div class="row"></div>
  <div class="row">
    <div class="col-md-3">
<!--      <mat-form-field>-->
<!--        <label class="form-label">Destination</label>-->
<!--        <input type="text" matInput [formControl]="convertToFormControl(hotelForm.controls['destination'])"-->
<!--               [matAutocomplete]="auto" (input)="onSearchHotelChange($event)">-->
<!--        <mat-autocomplete #auto="matAutocomplete">-->
<!--          <mat-option *ngFor="let option of districts" [value]="option.nameDistrict">-->
<!--            {{option.nameDistrict}}-->
<!--          </mat-option>-->
<!--        </mat-autocomplete>-->
<!--      </mat-form-field>-->
    </div>
    <div class="col-md-9">
      <div class="row mb-5">
        <div class="btn-group" role="group" aria-label="Filter group">
          <button type="button" class="btn btn-outline-primary btn-lg">Hot deal</button>
          <button type="button" class="btn btn-outline-primary btn-lg">Top review</button>
          <button type="button" class="btn btn-outline-primary btn-lg">Rating</button>
          <button type="button" class="btn btn-outline-primary btn-lg" (click)="togglePrice()">Price</button>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item p-0 border-0 mb-3" *ngFor="let hotel of hotels">
          <app-hotel-card [hotel]="hotel"></app-hotel-card>
        </li>
      </ul>
    </div>
  </div>
</div>
