

<div class="login">
  <form class="form-body" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="form-header">Sign in</h2>
    <div class="form-control">
      <label>Email</label>
      <app-authentication-input type="text" placeholder="Email"
                                [control]="form.controls['email']!"></app-authentication-input>
    </div>
    <div class="form-control">
      <label>Password</label>
      <app-authentication-input type="password" placeholder="Password"
                                [control]="form.controls['password']!"></app-authentication-input>
    </div>
    <div class="form-submit">
      <button  class="btn-blue btn-fill item-fullwidth" [disabled]="form.invalid">
        Login
      </button>
    </div>
    <div class="form-redirections">
      <a routerLink="../register" class="register">Register</a>
      <a routerLink="../forgot-password" class="forgot">Forgot Password?</a>
    </div>
  </form>

</div>
