*{
  font-style: inherit;
  font-size: 1.5rem;
}

.form-body{
  transform: translateY(100px);
  display: grid;
  grid-row-gap: 2rem;
  width: 35%;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  background-color: aliceblue;
}

.form-redirection{
  display: flex;
  justify-content: space-between;
}

a{
  &:hover{
    text-decoration: underline;
  }
}

.form-header{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.form-control{
  background-color: aliceblue;
  border: none;
}
