@import "src/app/shared/scss/_main";
*{
  font-style: inherit;
}
.login{
  width: 100%;
  font-size: 1rem;
  min-height: 100%;
}

.form-body{
  min-width: 30rem;
  box-shadow: 20px 20px 50px 15px grey;
  transform: translateY(4rem);
  display: grid;
  grid-row-gap: .9rem;
  width: 35%;
  margin: 0 auto 15rem auto;
  border-radius: .5rem;
  text-align: left;
  padding: 2rem;
  background-color: #fff;
}

.form-redirections{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

a{
  color: blue;
  &:hover{
    text-decoration: underline;
  }
}

.form-header{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.mat-input{
  background-color: #fff;
}
