@import "src/app/shared/scss/_main";
*{
  font-style: inherit;
}
.login{
  font-size: 1rem;
}

.form-body{
  box-shadow: 20px 20px 50px 15px grey;
  transform: translateY(8rem);
  display: grid;
  grid-row-gap: .9rem;
  width: 35%;
  margin: 0 auto 10rem auto;
  border-radius: .5rem;
  text-align: left;
  padding: 2rem;
  background-color: aliceblue;
}

.form-redirections{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

a{
  color: blue;
  &:hover{
    text-decoration: underline;
  }
}

.form-header{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.form-control{
  font-size: 0.5rem;
  background-color: aliceblue;
  border: none;
}
