<div class="hotels-approve">
  <div class="menu-list">
    <app-taskbar [currentTask]="currentTask"></app-taskbar>
  </div>
  <div class="hotels">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="requests">
        <!-- Name Column -->
        <ng-container matColumnDef="hotelName">
          <th mat-header-cell *matHeaderCellDef> Hotel </th>
          <td width="200" mat-cell *matCellDef="let element"> {{element.hotel.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="requestDate">
          <th mat-header-cell *matHeaderCellDef> Request Date </th>
          <td width="300" mat-cell *matCellDef="let element"> {{element.requestDate}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="providerName">
          <th mat-header-cell *matHeaderCellDef> Provider </th>
          <td width="200" mat-cell *matCellDef="let element"> {{element.provider.username}} </td>
        </ng-container>

        <ng-container matColumnDef="request">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Request </th>
          <td width="300" mat-cell *matCellDef="let element">
            <button class="btn btn-outline-success ms-5" (click)="acceptHotel(element.id)">Accept</button>
            <button class="btn btn-outline-danger ms-4" (click)="denyHotel(element.id)">Deny</button>
          </td>
        </ng-container>

        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td width="200" mat-cell *matCellDef="let element">
            <button class="hotels-btn-detail" (click)="openHotelDetail(element.hotel.id)">Detail>></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>
      <div *ngIf="requests">
        <mat-paginator [length]="total" [pageSize]="pageSize" (page)="getPaginatorData($event)" aria-label="Select page">
        </mat-paginator>
      </div>
      <div *ngIf="!requests" class="noData">
        <span class="text-center text-danger">
        There are no hotel request yet!</span>
      </div>
    </div>
  </div>
</div>
