@import "../../scss/_main";
.hotels-approve {
  display: flex;
}
.menu-list {
  width: 13rem;
}
.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;
  &-btn-detail {
    background-color: #fff;
    border: none;
    color: #304cee;
  }
}
table {
  width: 100%;
}
