@import "../../scss/_main";
.hotels-approve {
  display: flex;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;
  &-btn-detail {
    background-color: #fff;
    border: none;
    color: #304cee;
  }
}
table {
  width: 100%;
}
