@import "main";

.user {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-white;
  & *{
    display: block;
  }
  z-index: 1;
}

.show {
  display: block;
}

.btn-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0 1rem;
  //background-color: #fff;
  & *:not(:last-child) {
margin-right: .5rem;
  }
}
