<form class="form-body" [formGroup]="form" (ngSubmit)="onSave()">
  <div class="row mb-1">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Enter your password</mat-label>
      <input matInput placeholder="Enter your password" type="password" [formControl]="convertToFormControl(form?.controls['oldPass'])" required>
      <mat-error *ngIf="form?.controls['oldPass'].invalid">{{getErrorMessage('oldPass')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row mb-1">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Enter your new password</mat-label>
      <input matInput placeholder="Enter your new password" type="password" [formControl]="convertToFormControl(form?.controls['password'])" required>
      <mat-error *ngIf="form?.controls['password'].invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row mb-1">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Confirm your new password</mat-label>
      <input matInput placeholder="Confirm your new password" type="password" [formControl]="convertToFormControl(form?.controls['confirmPassword'])" required>
      <mat-error *ngIf="form?.controls['confirmPassword'].invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-submit">
    <button class="btn-blue btn-fill item-fullwidth" [disabled]="form.invalid">Save</button>
  </div>
</form>
