
.form-body {
  display: grid;
  grid-row-gap: .5rem;
  width: 100%;
  text-align: left;
  padding: 20px;
  margin: 20px;
}

.form-redirection {
  display: flex;
  justify-content: space-between;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.form-header {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.form-control{
  background-color: aliceblue;
  border: none;

}
