@import "../../scss/_main";
.mat-elevation-z8{
  width: 100%;

  & th{
    font-size: 1rem;
    color: rgb(249, 250, 249);
    font-weight: 500;
    background-color: #323a45;
  }
}
.mat-row:hover{
  background-color: rgb(196, 194, 194);
}

.noData{
  background-color: aliceblue;
  text-align: center;
  padding: 1rem;
  & span{
    font-size: 1.5rem;
  }
}
