<div class="taskbar">
  <h2>Menu</h2>
  <ul class="taskbar-menu">
    <li class="taskbar-choice" (click)="openApprovingHotels()">Approve</li>
    <li class="taskbar-choice" (click)="openListHotels()">Hotel</li>
    <li class="taskbar-choice" (click)="openBookingList()">Booking</li>
    <li class="taskbar-choice" (click)="openApprovingHotels()">Provider</li>
    <li class="taskbar-choice" (click)="openUserList()">User</li>
    <li class="taskbar-choice" (click)="openBookingList()">Feedback</li>
    <li class="taskbar-choice" (click)="openBookingList()">History</li>
  </ul>
</div>
