<div class="taskbar">
  <h2>Menu</h2>
  <ul class="taskbar-menu">
    <li class="taskbar-choice" (click)="openApprovingHotels()">Approve</li>
    <li class="taskbar-choice" (click)="openListHotels()">Hotels</li>
    <li class="taskbar-choice" (click)="openBookingList()">Bookings</li>
    <li class="taskbar-choice" (click)="openProviderList()">Providers</li>
    <li class="taskbar-choice" (click)="openUserList()">Users</li>
    <li class="taskbar-choice" (click)="openFeedbackList()">Feedback</li>
    <li class="taskbar-choice" (click)="openListManager()">Managers</li>
  </ul>
</div>
