.provider-list{
  display: flex;
}
.menu-list{
  width: 20%;
  height: 100%;
}
.provider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;
}
table{
  width: 100%;
}

.mat-elevation-z8{
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.pagination {
  display: inline-block;

  cursor: pointer;

  &-active {
    background-color: #4caf50;
    color: white;
  }
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
}

.paging{
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}

