<form [formGroup]="form" class="edit-name-form">
  <div class="form-control">
    <label>First name</label>
    <app-authentication-input type="text" placeholder="First name" [control]="form.controls['firstname']"></app-authentication-input>
  </div>
  <div class="form-control">
    <label>Last name</label>
    <app-authentication-input type="text" placeholder="Last name" [control]="form.controls['lastname']"></app-authentication-input>
  </div>
  <button class="btn-md btn-logout btn-fill" (click)="onClear()">Cancel</button>
  <button class="btn-md btn-fill" (click)="onSubmit()">Save</button>
</form>
