<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<div class="card-img-top text-center">
  <h1 class="inner-text coupon-text">Enter this code: <strong class="coupon-text text-strong">{{this.code}}</strong> <br><br> for discount <strong class="coupon-text text-strong">{{this.discount | number:'1.0-1'}} VND</strong> on total price
    <br><br>
    <br/> before {{this.dateExpired | date:'medium'}}
  </h1>
</div>


