<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<!--<h2 mat-dialog-title>Hey, check it out our coupon for this summer vacation</h2>-->
<!--  <div class="card">-->
    <div class="card-img-top text-center">
      <h1 class="inner-text coupon-text">Enter this code: <strong class="coupon-text text-strong">{{this.code}}</strong> <br><br> for discount <strong class="coupon-text text-strong">{{this.discount | number:'1.0-1'}} VND</strong> on total price
        <br><br>
        <br/> before {{this.dateExpired | date:'medium'}}
      </h1>
    </div>
<!--  </div>-->
<!--<mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--</mat-dialog-actions>-->


