<div class="container">
  <div class="detail-item">
    <app-user-profile-details-info [account]="account" title="Name" [avatar]="account.avatar"
                                   [detail]="account.firstname + ' ' + account.lastname"
                                   [isAdd]="false" editType="name"></app-user-profile-details-info>
  </div>
  <div class="detail-item">
    <app-user-profile-details-info [account]="account" title="Email" [detail]="account.email"
                                   [isAdd]="false"></app-user-profile-details-info>
  </div>
  <div class="detail-item">
    <ng-container *ngIf="account.phone">
      <app-user-profile-details-info [account]="account" title="Phone" [detail]="account.phone"
                                     [isAdd]="false" editType="edit-phone"></app-user-profile-details-info>
    </ng-container>


    <ng-container *ngIf="!account.phone">
      <app-user-profile-details-info [account]="account" title="Phone" [detail]="account.phone"
                                     [isAdd]="true" editType="add-phone"></app-user-profile-details-info>
    </ng-container>
  </div>
  <div class="detail-item">
    <app-user-profile-details-info [account]="account" title="Password"
                                   [detail]="'********'"
                                   [isAdd]="false" editType="password"></app-user-profile-details-info>
  </div>
</div>
