* {
  font-style: inherit;
  font-size: 0.9rem;
}

.hotel {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  & h2 {
    text-align: center;
    font-size: 1.5rem;
  }
}

.hotel {
  &-detail {
    border: 0.2rem solid rgb(160, 160, 160);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
    & form {
      margin: 0 auto;
    }
  }
}

.group {
  width: 40%;

  &-input {
    display: flex;
    justify-content: space-around;
  }
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description {
  display: inline-block;
  width: 100%;
  & textarea {
    border-radius: 0.5rem;
    border: 1px solid rgb(199, 199, 199);
  }

  &-title {
    margin-top: 1rem;
    width: 90%;
    text-align: center;
  }
}

.select {
  width: 40%;
  padding-bottom: .1rem;
}

.row {
  align-items: center;
}

@media (max-width: 40rem) {
  .input-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .group {
    width: 90%;
  }

  .select{
    width: 90%;
    margin-bottom: 2rem;
  }
}