.change-password-form{
  & *{
    margin-bottom: 2rem;
  }
}

.form-button{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn{
  font-size: 2rem;
  padding: .5rem;
}

button{
  border: none;
}
