<h2>Enter New Password</h2>
<div class="alert"><app-alert></app-alert></div>
<form [formGroup]="form" class="change-password-form">
    <app-authentication-input type="password" placeholder="New Password" label="New Password" [control]="form?.controls['newPass']"></app-authentication-input>
    <app-authentication-input type="password" placeholder="Confirm New Password" label="Confirm new password" [control]="form?.controls['confirmNewPass']"></app-authentication-input>
  <div class="form-button mt-5">
    <button class="btn btn-primary btn-md" (click)="onSave()">Save</button>
    <button class="btn btn-danger btn-md">Cancel</button>
  </div>
</form>
