<h2>Enter New Password</h2>
<div class="alert"><app-alert></app-alert></div>
<form [formGroup]="form" class="change-password-form">
  <div class="row mb-4">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Enter new password</mat-label>
      <input matInput placeholder="Enter new password" type="password" [formControl]="convertToFormControl(form?.controls['newPass'])" required>
      <mat-error *ngIf="form?.controls['newPass'].invalid">{{getErrorMessage('newPass')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row mb-4">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Confirm new password</mat-label>
      <input matInput placeholder="Confirm new password" type="password" [formControl]="convertToFormControl(form?.controls['confirmNewPass'])" required>
      <mat-error *ngIf="form?.controls['confirmNewPass'].invalid">{{getErrorMessage('confirmNewPass')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-button mt-5">
    <button class="btn-blue btn-md btn-fill" (click)="onSave()" [disabled]="form.invalid">Save</button>
    <button class="btn-logout btn-md btn-fill">Cancel</button>
  </div>
</form>
