// COLOR VARIABLES

$color-white: rgba(255, 255, 255, 0.89);

$color-black-1: #000000;

$color-primary: #AEFEFF;
$color-secondary: #4FBDBA;
$color-tertiary: #35858B;
$color-quaternary: #072227;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #c0bfbf;
$color-grey-light-3: #8a8a92;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-blue-1: #1572A1;
$color-blue-2: #084594;

$color-orange-1: #FF7800;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
