@import "src/app/shared/scss/_main";

*{
  font-style: inherit;
}
.form{
  width: 100%;
  font-size: 1rem;
  min-height: 100vh;
  margin-bottom: 3rem;
}

.form-body{
  min-width: 30rem;
  box-shadow: 20px 20px 50px 15px grey;
  transform: translateY(4rem);
  display: grid;
  grid-row-gap: .9rem;
  width: 35%;
  margin: 0 auto 15rem auto;
  border-radius: .5rem;
  text-align: left;
  padding: 2rem;
  background-color: #fff;
}

.form-redirection{
  display: flex;
  justify-content: space-between;
}

a{
  &:hover{
    text-decoration: underline;
  }
}

.form-header{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.input{
  margin-bottom: 1rem;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
 color: #ced0d4;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
 color: #0289fa;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
 color: green;
}


