<div class="response">
  <div class="menu-list">
    <app-taskbar></app-taskbar>
  </div>
  <div class="response-detail">

    <form class="col-md-10 border-right" [formGroup]="formGroup" (ngSubmit)="saveResponse()">
      <div class="p-3 py-5">
        <h1>Response User</h1>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Sender Name</label>
            <input type="text" class="form-control" value={{feedback.senderName.slice(2)}} readonly>
          </div>
          <div class="col-md-6"><label class="labels">Type</label>
            <input type="text" class="form-control" value={{feedback.type}} readonly>
          </div>
        </div>
        <div class="col-md-12"><label class="labels">Modify Date</label>
          <input type="text" class="form-control" value={{feedback.modifyDate}} disabled>
        </div>
        <div class="col-md-12"><label class="labels">Message</label>
          <textarea rows="5" type="text" class="form-control message" value={{feedback.message}} readonly>
          </textarea>
        </div>
        <div class="response-list" *ngFor="let response of responses">
          <div class="col-md-12">
            <textarea [rows]="response.message.length/60 + 1" type="text"
              [ngClass]="{'admin-response': response.sendBy == 1}" class="form-control message-response"
              value={{response.message}} readonly>
            </textarea>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <textarea rows="5" type="text" placeholder="Admin response" class="form-control message"
            formControlName="message_response" required>
          </textarea>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary response-button" type="submit" [disabled]="isAdmin">Save Response</button>
        </div>
      </div>
    </form>
  </div>
</div>
