@import "../../scss/_main";
.provider-list {
  display: flex;
}

.provider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 7rem auto;
}
table {
  width: 100%;
}
