<div class="row mb-3 shadow">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item"><a class="nav-link p-3" aria-current="page" routerLinkActive="pay-active"
                            [routerLink]="['/book/booking-payment-info/booking-payment-vnpay']"
                            queryParamsHandling="preserve">VN PAY</a></li>
    <li *ngIf="bookingCount>0" class="nav-item"><a class="nav-link p-3" routerLinkActive="pay-active"
                                                   [routerLink]="['/book/booking-payment-info/booking-payment-cod']"
                                                   queryParamsHandling="preserve">Pay later at Hotel</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
