.hotels{
  display: flex;
}
.menu-list{
  width: 20%;
  height: 100%;
}
.hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;
}
table{
  width: 100%;
}

.mat-elevation-z8{
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
