<div class="container-fluid bg-white pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <app-booking-information-confirm [carts]="carts" [roomDetails]="roomDetails" [hotel]="hotel" [account]="account" [hasCoupon]="hasCoupon"></app-booking-information-confirm>
      </div>
      <div class="col-md-4 ps-5">
        <app-booking-information-detail [bookingInformationDetails]="bookingInformationDetails" [roomDetails]="roomDetails" [hotel]="hotel" [account]="account" (setHasCoupon)="setHasCoupon($event)"></app-booking-information-detail>
      </div>
    </div>
  </div>
</div>
