<div class="row">
  <div class="col-md-auto p-0">
    <ngx-spinner type="square-jelly-box">
      <p style="font-size: 20px; color: white;">Loading...</p>
    </ngx-spinner>
    <ul class="list-inline nav nav-pills border">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link p-3" [routerLink]="['/user','bookings']"
           [queryParams]="{status: 1}" queryParamsHandling="merge">Upcoming</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link p-3" [routerLink]="['/user','bookings']"
           [queryParams]="{status: 2}" queryParamsHandling="merge">Completed</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link p-3" [routerLink]="['/user','bookings']"
           [queryParams]="{status: 3}" queryParamsHandling="merge">Cancelled</a>
      </li>
    </ul>
  </div>
  <div class="col-md-auto ms-auto p-0">
    <ul class="nav nav-pills list-inline border">
      <li class="nav-item">
        <a class="nav-link p-3 disabled" routerLinkActive="active" tabindex="-1" aria-disabled="true">Sort by</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" routerLinkActive="active" [routerLink]="['/user','bookings']"
           [queryParams]="{sort: 'booking-date'}" queryParamsHandling="merge">Booking date</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" routerLinkActive="active" [routerLink]="['/user','bookings']"
           [queryParams]="{sort: 'check-in-date'}" queryParamsHandling="merge">Check-in date</a>
      </li>
      <li class="nav-item" *ngIf="status==2">
        <a class="nav-link p-3" routerLinkActive="active" [routerLink]="['/user','bookings']"
           [queryParams]="{sort: 'is-reviewed'}" queryParamsHandling="merge">Not Reviewed</a>
      </li>
    </ul>
  </div>
</div>
<div class="row p-0">
    <ul class="list-inline booking-list p-0">
      <li class="booking-list__item" *ngFor="let booking of bookings">
        <app-booking-card [booking]="booking"></app-booking-card>
      </li>
    </ul>
</div>
