.footer {
  box-shadow: 0 5px 5px -5px #0c1e2b;
  position: relative;
  z-index: 3;
}

.menu-list {
  min-height: 100vh;
}

.body {
  min-width: 30rem;
  margin: 0;
  opacity: 0.97;
  width: 100%;
  min-height: 90vh;
  &-detail {
    margin-left: 3%;
    width: 74%;
  }
}

.containers{
  min-width: 40rem;
}