.footer {
  box-shadow: 0 5px 5px -5px #0c1e2b;
  position: relative;
  z-index: 3;
}

.menu-list {
  min-height: 100vh;
}

.body {
  margin: 0;
  width: 100%;
  &-detail {
    margin-left: 3%;
    width: 72%;
  }
}
