//.containers{
//  background-color: rgb(231, 232, 233);
//  min-height: 100%;
//  height: auto;
//  //position: relative;
//}
.footer {
  box-shadow: 0 5px 5px -5px #0c1e2b;
  position: relative;
  z-index: 3;
}
