<div class="add-benefit">
  <div class="benefit-type">
    <mat-form-field appearance="fill" class="select">
      <mat-label>Benefit Type</mat-label>
      <mat-select [formControl]="benefitTypeControl" required (selectionChange)="changeBenefitType($event.value)">
        <mat-option *ngFor="let type of benefitTypes" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="benefitTypeControl.hasError('required')">Please choose a type of benefit</mat-error>
    </mat-form-field>
  </div>
  <div class="benefit">
    <ul class="checkbox-items">
      <li *ngFor="let benefit of benefits" class="benefit-item">
        <span>
          <input type="checkbox" name="benefit"
        (change)="onCheckboxChange(benefit, $event)"> {{benefit.name}}
        </span>
      </li>
    </ul>
  </div>

  <button class="btn btn-primary room-button" type="submit" (click)="submit()">Save</button>
</div>
