<div class="add-admin">
  <div class="menu-list">
    <app-taskbar></app-taskbar>
  </div>
  <div class="new-admin">
  <form class="col-md-10 border-right" [formGroup]="formGroup">
    <div class="p-3 py-5">
      <h1>New Admin</h1>
      <div class="col-md-12"><label class="labels">First name</label>
        <input type="text" class="form-control" formControlName="firstname">
      </div>
      <div class="col-md-12"><label class="labels">Last name</label>
        <input type="text" class="form-control" formControlName="lastname">
      </div>
      <div class="col-md-12"><label class="labels">Username</label>
        <input type="text" class="form-control" formControlName="username">
      </div>
      <div class="col-md-12"><label class="labels">Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="col-md-12"><label class="labels">PhoneNumber</label>
        <input type="text" class="form-control" formControlName="phone">
      </div>
      <div class="mt-5 text-center">
        <button class="btn btn-primary new-admin-button" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
</div>
