.menu-list {
  width: 20%;
  height: 100%;
}
.add-admin {
  display: flex;
}

.new-admin {
  width: 60%;
  padding-top: 90px;
  &-button {
    margin-top: 30px;
    text-align: center;
  }

  &-labels {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.form-body {
  display: grid;
  grid-row-gap: 2rem;
}

.header {
  color: black;
}

.input {
  margin-bottom: 1rem;
}
