<div class="add-admin">
  <div class="menu-list">
    <app-taskbar></app-taskbar>
  </div>
  <div class="new-admin">
    <simple-notifications></simple-notifications>
    <form *ngIf="isAdmin" class="form-body" [formGroup]="form" (ngSubmit)="addAdmin()">
      <h2 class="form-header">NEW MANAGER</h2>
      <div class="form-control">
        <label class="new-admin-labels">Username</label>
        <app-authentication-input type="text" placeholder="Username" [control]="form?.controls['username']">
        </app-authentication-input>
      </div>
      <div class="form-control">
        <label class="new-admin-labels">Email</label>
        <app-authentication-input type="text" placeholder="Email" [control]="form?.controls['email']">
        </app-authentication-input>
      </div>
      <div class="form-control">
        <label class="new-admin-labels">Password</label>
        <app-authentication-input type="password" placeholder="Password" [control]="form?.controls['password']">
        </app-authentication-input>
      </div>
      <div class="form-control">
        <label class="new-admin-labels">Confirm Password</label>
        <app-authentication-input type="password" placeholder="Confirm Password"
          [control]="form?.controls['confirmPassword']"></app-authentication-input>
      </div>
      <div class="form-submit">
        <button class="new-admin-button" [disabled]="form.invalid">Save</button>
      </div>
    </form>
    <div *ngIf="isManager">you are not authorized to add manager</div>
  </div>
</div>
