<h2>Sign in</h2>
<div class="alert">
  <app-alert></app-alert>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mb-5">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Enter your email</mat-label>
      <input matInput placeholder="Enter your email" type="email" [formControl]="convertToFormControl(form?.controls['email'])" required>
      <mat-error *ngIf="form?.controls['email'].invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row mb-5">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Enter your password</mat-label>
      <input matInput placeholder="pat@example.com" type="password" [formControl]="convertToFormControl(form?.controls['password'])" required>
      <mat-error *ngIf="form?.controls['password'].invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-submit row mb-5">
    <button class="btn-blue btn-fill item-fullwidth" [disabled]="form.invalid">Login</button>
  </div>
  <div class="d-flex justify-content-between">
    <a routerLink="../register" queryParamsHandling="preserve" class="register">Register</a>
    <a routerLink="../forgot-password" queryParamsHandling="preserve" class="forgot">Forgot Password?</a>
  </div>
</form>
