.container{
  width: 100%;
  background-image: url("https://climate.nasa.gov/system/news_items/main_images/2990_9827327865_98e0f0dc2d_o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
