<div class="dropdown">
  <button (click)="toggleContent()" class="btn btn-secondary dropdown-toggle" type="button" aria-expanded="false">
    {{guestNum}} adult(s), {{roomNum}} room(s)
  </button>
  <div class="dropdown__content" id="content">
    <div class="dropdown__content__item">
      <label class="lbl-md dropdown__content__item--title">Adults</label>
      <button class="btn-guest-modifier" (click)="toggleNumberMinus(1)">-</button>
      <label class="lbl-md dropdown__content__item--number">{{guestNum}}</label>
      <button class="btn-guest-modifier" (click)="toggleNumberPlus(1)">+</button>
    </div>
    <div class="dropdown__content__item">
      <label class="lbl-md dropdown__content__item--title">Rooms</label>
      <button class="btn-guest-modifier" (click)="toggleNumberMinus(2)">-</button>
      <label class="lbl-md dropdown__content__item--number">{{roomNum}}</label>
      <button class="btn-guest-modifier" (click)="toggleNumberPlus(2)">+</button>
    </div>
    <div class="dropdown__content__item">
      <button class="btn btn-primary col-md-12" (click)="toggleContent()">Done</button>
    </div>
  </div>
</div>
