* {
  font-style: inherit;
  font-size: .9rem;
}

.room{
  & h2 {
    font-size: 1.5rem;
  }

  &-detail{
    border: 0.2rem solid rgb(160, 160, 160);
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    & form{
      margin: 0 auto;
    }
  }
}

.form-control:focus {
  box-shadow: none;
  border-color: #000000
}

.labels {
  font-size: 15px;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 0,5rem;
}
.btn-outline-warning{
  margin-left: 1rem;
}