<div class="room">
  <div class="room-detail">
    <div class="room-detail-infor">
      <form class="col-md-10 border-right" [formGroup]="form" (ngSubmit)="submit()">
        <div class="p-4 py-5">
          <h1 class="text-center">Add Room</h1>
          <div class="col-md-12"><label class="labels">Room name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">Quantity room</label>
              <input type="number" class="form-control" formControlName="quantity">
            </div>
            <div class="col-md-6"><label class="labels">Available Room</label>
              <input type="number" class="form-control" formControlName="availableRoom">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">Number of People</label>
              <input type="number" class="form-control" formControlName="numberOfPeople">
            </div>
            <div class="col-md-6"><label class="labels">Price</label>
              <input type="number" class="form-control" formControlName="price">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="mt-20 w-20  btn-outline-primary btn-lg" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
