* {
  font-style: inherit;
  font-size: .9rem;
}

.profile{

  &-detail{
    border: 1px solid rgb(7, 7, 7);
    width: 100%;
    margin-top: 3rem;
    border-radius: 10px;
    background-color: rgb(244, 248, 253);

    &-infor{
      padding-left: 10px;
      width: 100%;

      & form{
        margin-left: 5rem;
      }
    }

  }
}

.form-control:focus {
  box-shadow: none;
  border-color: #000000
}

.back:hover {
  color: #000000;
  cursor: pointer
}

.labels {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}
