@import "main";

.user-login{
  & *{
    margin-left: 2rem;
    text-align: center;
  }
}

a{
  transition: all .2s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-grey-dark-1,.3);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-grey-dark-1,.3);
  }
}
