
@import "../../scss/_main";
.add-district {
  width: 50%;
  margin: 7rem auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 20px 20px 50px 15px grey;
  border-radius: 10px;
}

.select {
  width: 45%;
  padding: 10px;
  margin: 20px;
  background-color: aliceblue;
}
