@import "main";
.container{
  background-color: $color-white;
  height: 100vh;
  width: 40%;
  margin: auto;
}
.account{
  border: 1px solid $color-grey-dark-2;
  border-radius: .5rem;
  box-shadow: 1rem 1rem 1rem 1rem rgba($color-grey-dark-2, .5);
  padding: 3rem;
}
