<form [formGroup]="hotelForm" class="hotel-form">
  <app-input class="hotel-form__destination" inputType="text" itemName="Destination" placeholder="Enter Destination" label="Destination" [control]="hotelForm.controls['destination']"></app-input>
  <app-input class="hotel-form__from" inputType="date" itemName="Start" label="Start" [control]="hotelForm.controls['from']"></app-input>
  <app-input class="hotel-form__to" inputType="date" itemName="End" label="End" [control]="hotelForm.controls['to']"></app-input>
  <app-dropdown class="hotel-form__guest" [control]="hotelForm.controls['guestNumber']"></app-dropdown>
  <button class="hotel-form__search btn-login item-center">Search</button>
</form>
