@import "main";
.user-info{
  display: flex;
  align-items: center;
  box-shadow: .1rem .1rem .1rem .1rem rgba($color-grey-dark-2, .4);
  padding: 2rem;
  & *:not(:last-child){
    margin-right: 2rem;
  }
}

.user-name-detail{

}

.btn-edit{
  margin-left: auto;
}

.user-avatar{
  width: 6rem;
  height: 6rem;
}

.dropdown-content{
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  margin: 1rem 0;
  box-shadow: .2rem .2rem .2rem .2rem rgba($color-grey-dark-2, .5);
}

