<div class="row mb-3 shadow">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img [src]="hotel.avatar" alt="Hotel" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h2 class="card-title m-0">{{hotel.name}}</h2>
          <h2><span class="fa fa-star {{hotel.star>=1?'checked':''}}"></span> <span
            class="fa fa-star {{hotel.star>=2?'checked':''}}"></span> <span
            class="fa fa-star {{hotel.star>=3?'checked':''}}"></span> <span
            class="fa fa-star {{hotel.star>=4?'checked':''}}"></span>
            <span class="fa fa-star {{hotel.star>=5?'checked':''}}"></span>
          </h2>
          <h4>{{hotel.address}}, {{hotel.district?.nameDistrict}}, {{hotel.district?.city?.nameCity}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngFor="let roomDetail of roomDetails; let i = index">
  <div class="row mb-3 shadow">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <h3><b>{{bookingInformationDetails[i].dateIn | date}} - {{bookingInformationDetails[i].dateOut | date}}</b>
            </h3>
          </div>
          <div class="col-md-3"><h3>
            <b>{{bookingInformationDetails[i].dateOut?.getTime() / (1000 * 3600 * 24) - bookingInformationDetails[i].dateIn?.getTime() / (1000 * 3600 * 24)}}
              nights</b>
          </h3></div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <h3>{{bookingInformationDetails[i].quantity}} x {{roomDetail.name}}</h3>
          </div>
        </div>
        <div class="row">Reviews</div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <img [src]="roomDetail.listImage[0]?.src" alt="" class="img-fluid">
          </div>
          <div class="col-md-8">
            <h4 class="card-text text-grey"><i class="fa fa-male"></i> {{bookingInformationDetails[i].quantity}} room(s)
            </h4>
            <h4 class="card-text text-grey"><i class="fa fa-male"></i> {{roomDetail.numberOfPeople}} adults</h4>
            <ul class="list-inline">
              <li class="text-success" *ngFor="let benefitType of roomDetail.listBenefit"><h4><i
                class="fa fa-check"></i> {{benefitType.benefits[0].name}}</h4></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</ng-container>
<!--<div *ngIf="bookingInformationDetails.length === 1 && roomDetails[0]?.dealPercentage >0 " class="row shadow mb-3">-->
<!--  <div class="card border-danger border-start">-->
<!--    <div class="card-body p-4">-->
<!--      <h3 class="m-0 d-flex align-items-center"><span class="material-icons pe-3 text-danger">alarm</span> We only-->
<!--        have {{roomDetails[0].availableRooms}} rooms left at this price</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div *ngIf="hasCouponApply" class="row mb-3 shadow">
  <div class="card">
    <div class="card-body d-flex align-items-center">
      <form [formGroup]="form">
        <input class="coupon-code p-2" formControlName="coupon" placeholder="COUPON">
        <button class="btn btn-primary ms-3" (click)="applyCoupon()">APPLY</button>
      </form>
    </div>
  </div>
</div>
<div class="row mb-3 shadow">
  <div class="card">
    <div class="card-body">
      <div *ngIf="roomDetails[0]?.dealPercentage > 0 || roomDetails[1]?.dealPercentage > 0"
           class="d-flex justify-content-between">
        <h4>Original price ({{bookingInformationDetails[0]?.quantity + bookingInformationDetails[1]?.quantity}}
          room<span
            *ngIf="(bookingInformationDetails[0]?.quantity+bookingInformationDetails[1]?.quantity) > 1">s</span>
          x {{bookingInformationDetails[0]?.dateOut?.getTime() / (1000 * 3600 * 24) - bookingInformationDetails[0]?.dateIn?.getTime() / (1000 * 3600 * 24)}}
          night<span
            *ngIf="(bookingInformationDetails[0]?.dateOut?.getTime()/ (1000 * 3600 * 24) - bookingInformationDetails[0]?.dateIn?.getTime()/ (1000 * 3600 * 24)) > 1">s</span>):
        </h4>
        <h4 class="text-danger">
          <s>{{(roomDetails[0]?.price * bookingInformationDetails[0]?.quantity + roomDetails[1]?.price * bookingInformationDetails[1]?.quantity) * (bookingInformationDetails[0]?.dateOut?.getTime() / (1000 * 3600 * 24) - bookingInformationDetails[0]?.dateIn?.getTime() / (1000 * 3600 * 24)) | number}}
            đ</s></h4>
      </div>
      <div class="d-flex justify-content-between">
        <h4>Our price ({{bookingInformationDetails[0]?.quantity + bookingInformationDetails[1]?.quantity}} room<span
          *ngIf="(bookingInformationDetails[0]?.quantity+bookingInformationDetails[1]?.quantity) > 1">s</span>
          x {{bookingInformationDetails[0]?.dateOut?.getTime() / (1000 * 3600 * 24) - bookingInformationDetails[0]?.dateIn?.getTime() / (1000 * 3600 * 24)}}
          night<span
            *ngIf="(bookingInformationDetails[0]?.dateOut?.getTime() / (1000 * 3600 * 24)- bookingInformationDetails[0]?.dateIn?.getTime()/ (1000 * 3600 * 24)) > 1">s</span>):
        </h4>
        <h4
          class="text-success">{{((roomDetails[0]?.price - roomDetails[0]?.price * roomDetails[0]?.dealPercentage / 100) * bookingInformationDetails[0]?.quantity + (roomDetails[1]?.price * bookingInformationDetails[1]?.quantity - roomDetails[1]?.price * roomDetails[1]?.dealPercentage / 100)) * (bookingInformationDetails[0]?.dateOut?.getTime() / (1000 * 3600 * 24) - bookingInformationDetails[0]?.dateIn?.getTime() / (1000 * 3600 * 24)) | number}}
          đ</h4>
      </div>

      <div class="d-flex justify-content-between">
        <h4>Booking fees</h4>
        <h4 class="text-primary">FREE</h4>
      </div>

    </div>
    <div class="card-footer p-4">
      <div class="d-flex justify-content-between">
        <h3><b>Price</b></h3>
        <h3>
          <b>{{((roomDetails[0]?.price - roomDetails[0]?.price * roomDetails[0]?.dealPercentage / 100) * bookingInformationDetails[0]?.quantity + (roomDetails[1]?.price * bookingInformationDetails[1]?.quantity - roomDetails[1]?.price * roomDetails[1]?.dealPercentage / 100)) * (bookingInformationDetails[0]?.dateOut?.getTime() / (1000 * 3600 * 24) - bookingInformationDetails[0]?.dateIn?.getTime() / (1000 * 3600 * 24)) * (100 - account.vip?.discount) / 100 * (100 + hotel.taxPercentage) / 100 | number}}
            đ</b></h3>
      </div>
      <h5><b>Discounts: </b>VIP discount {{account.vip?.discount}}%</h5>
      <h5><b>Applied fees: </b>Tax {{hotel.taxPercentage}}%</h5>
    </div>
  </div>
</div>
