$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
.containers {
  background: url("../assets/img/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  height: auto;
  min-height: 100%;
  min-width: 30rem;
}

.footer .header {
  box-shadow: 0 5px 5px -5px #0c1e2b;
  position: relative;
  z-index: 3;
}

.menu-list {
  min-height: 90vh;
}

.body {
  min-width: 30rem;
  margin: 0;
  opacity: 0.97;
  width: 100%;
  min-height: 90vh;
  &-detail {
    margin-left: 3%;
    width: 74%;
  }
}
