<div class="account">
  <div class="menu-list">
    <app-negative-bar></app-negative-bar>
  </div>
  <simple-notifications></simple-notifications>
<div class="profile">
  <div class="profile-update">
    <h1>Update Profile</h1>
    <form class="form-body" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-control">
        <label>Provider name</label>
        <app-authentication-input type="text" value={{account.providerName}} [control]="form.controls['providerName']">
        </app-authentication-input>
      </div>
      <div class="form-control">
        <label>Address</label>
        <app-authentication-input type="text" value={{account.address}} [control]="form.controls['address']">
        </app-authentication-input>
      </div>
      <div class="form-control">
        <label>Phone number</label>
        <app-authentication-input type="text" value={{account.phone}} [control]="form.controls['phone']">
        </app-authentication-input>
      </div>
      <div class="form-submit">
        <button class="btn-blue btn-fill item-fullwidth" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  </div>
  <div class="profile-change-pass">
    <h1>change Password</h1>
    <app-change-password></app-change-password>
  </div>


