@import "../../shared/scss/main";
* {
  font-style: inherit;
  font-size: 0.9rem;
}
.account{
  display: flex;
}

.profile {
  width: 70%;
  display: flex;
  background-color: aliceblue;
  box-shadow: 20px 20px 50px 15px grey;
  margin: 7rem auto;
  border-radius: 10px;
  padding: 10px;
  &-update {
    width: 50%;

    & h1{
      text-align: center;
    }
  }

  &-change-pass{
    width: 50%;
    margin-left: 50px;

    & h1{
      text-align: center;
    }
  }
}

.form-body {
  display: grid;
  grid-row-gap: 0.5rem;
  width: 100%;
  text-align: left;
  padding: 20px;
  margin: 20px;
}

.form-redirection {
  display: flex;
  justify-content: space-between;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.form-header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.form-control{
  background-color: aliceblue;
  border: none;

}
