* {
  font-style: inherit;
  font-size: 1.5rem;
}
.account{
  display: flex;
}
.menu-list{
  width: 220px;
}
.profile {
  width: 80%;
  display: flex;
  background-color: aliceblue;
  margin: 0 auto;
  transform: translateY(100px);
  border-radius: 10px;
  padding: 10px;



  &-update {
    width: 50%;

    & h1{
      text-align: center;
    }
  }

  &-change-pass{
    width: 50%;
    margin-left: 50px;

    & h1{
      text-align: center;
    }
  }
}

.form-body {
  display: grid;
  grid-row-gap: 1rem;
  width: 100%;
  text-align: left;
  padding: 20px;
  margin: 20px;
}

.form-redirection {
  display: flex;
  justify-content: space-between;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.form-header {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.form-control{
  background-color: aliceblue;
  border: none;

}
