<div class="account">
  <div class="menu-list">
    <app-negative-bar></app-negative-bar>
  </div>
<div class="profile">
  <div class="profile-update">
    <h1>Update Profile</h1>
    <form class="form-body" [formGroup]="form" (ngSubmit)="submit()">
      <div class="row mb-1">
        <mat-form-field appearance="outline">
          <mat-label class="text-secondary">Provider name</mat-label>
          <input matInput placeholder="Enter your username" type="text" [formControl]="convertToFormControl(form?.controls['providerName'])" required>
          <mat-error *ngIf="form?.controls['providerName'].invalid">{{getErrorMessage('providerName')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="row mb-1">
        <mat-form-field appearance="outline">
          <mat-label class="text-secondary">Address</mat-label>
          <input matInput placeholder="Enter your address" type="text" [formControl]="convertToFormControl(form?.controls['address'])" required>
          <mat-error *ngIf="form?.controls['address'].invalid">{{getErrorMessage('address')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="row mb-1">
        <mat-form-field appearance="outline">
          <mat-label class="text-secondary">Phone number</mat-label>
          <input matInput placeholder="Enter your phone" type="text" [formControl]="convertToFormControl(form?.controls['phone'])" required>
          <mat-error *ngIf="form?.controls['phone'].invalid">{{getErrorMessage('phone')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-submit">
        <button class="mt-20 w-100 btn-outline-primary btn-lg" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  </div>
  <div class="profile-change-pass">
    <h1>change Password</h1>
    <app-change-password></app-change-password>
  </div>


