<form class="col-md-10 border-right" [formGroup]="formGroup" (ngSubmit)="changePassword()">
  <div class="p-3 py-5">
    <h1>Change Password</h1>
    <div class="row mb-1">
      <mat-form-field appearance="outline">
        <mat-label class="text-secondary">Enter your password</mat-label>
        <input matInput placeholder="Enter your password" type="password" [formControl]="convertToFormControl(formGroup?.controls['oldPass'])" required>
        <mat-error *ngIf="formGroup?.controls['oldPass'].invalid">{{getErrorMessage('oldPass')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row mb-1">
      <mat-form-field appearance="outline">
        <mat-label class="text-secondary">Enter your new password</mat-label>
        <input matInput placeholder="Enter your new password" type="password" [formControl]="convertToFormControl(formGroup?.controls['password'])" required>
        <mat-error *ngIf="formGroup?.controls['password'].invalid">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row mb-1">
      <mat-form-field appearance="outline">
        <mat-label class="text-secondary">Confirm your new password</mat-label>
        <input matInput placeholder="Confirm your new password" type="password" [formControl]="convertToFormControl(formGroup?.controls['confirmPassword'])" required>
        <mat-error *ngIf="formGroup?.controls['confirmPassword'].invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5 text-center">
      <button class="btn btn-primary change-pass-button" type="submit" [disabled]="!formGroup.valid">Change Password</button>
    </div>
  </div>
</form>
