<form class="col-md-10 border-right" [formGroup]="formGroup" (ngSubmit)="changePassword()">
  <div class="p-3 py-5">
    <h1>Change Password</h1>
    <div class="row mt-2">
      <div class="col-md-12"><label class="labels">Password</label>
        <input type="password" class="form-control"  formControlName="password">
      </div>
      <div class="col-md-12"><label class="labels">New Password</label>
        <input type="password" class="form-control"  formControlName="newPassword">
      </div>
      <div class="col-md-12"><label class="labels">Confirm New Password</label>
        <input type="password" class="form-control"  formControlName="confirmNewPassword">
        <small *ngIf="passNotMatch" class="change-pass-notif">Confirm Password incorrect! Please try again</small>
      </div>
    </div>
    <div class="mt-5 text-center">
      <button class="btn btn-primary change-pass-button" type="submit">Change Password</button>
    </div>
  </div>
</form>
