<div class="vip-ranking">
  <div class="vip-ranking__header">
    <img src="../../../assets/img/ha.JPG" class="vip-ranking__header--avatar" alt="H">
    <label class="vip-ranking__header--name">{{account?.firstname}}, interested in becoming a VIP?</label>
  </div>
  <div class="vip-ranking__status">
    <p>Status</p>
    <label>{{account?.idVip?.nameVip}}</label>
  </div>
  <div class="vip-ranking__booking-count">
    <p>Bookings in last 2 years</p>
    <label><strong>{{bookingCount}}</strong> completed</label>
  </div>
  <div class="vip-ranking__progress">
    <div class="vip-ranking__progress__header">
      <p class="vip-ranking__progress__header--title">Booking progress</p>
      <p class="vip-ranking__progress__header--count"> {{bookingCount}}/20 bookings</p>
    </div>
    <div class="vip-ranking__progress__progress-bar">
      <div class="vip-ranking__progress__progress-bar--level-bar" id="progress-bar"></div>
      <div class="level-circle vip-ranking__progress__progress-bar--silver" [ngClass]="{'shine-outside': bookingCount>=2}"><div class="center-star" [ngClass]="{'shine': bookingCount>=2}">★</div></div>
      <div class="level-circle vip-ranking__progress__progress-bar--gold" [ngClass]="{'shine-outside': bookingCount>=5}"><div class="center-star" [ngClass]="{'shine': bookingCount>=5}">★</div></div>
      <div class="level-circle vip-ranking__progress__progress-bar--platinum" [ngClass]="{'shine-outside': bookingCount>=10}"><div class="center-star" [ngClass]="{'shine': bookingCount>=10}">★</div></div>
      <div class="level-circle vip-ranking__progress__progress-bar--diamond" [ngClass]="{'shine-outside': bookingCount>=20}"><div class="center-star" [ngClass]="{'shine': bookingCount>=20}">★</div></div>
    </div>
  </div>
</div>
