@import "main";

.container-main {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(105deg,
    rgba($color-primary, .2),
    rgba($color-secondary, .2)
  ), url("../assets/img/maldives.jpeg");
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: scroll;

}

.footer {
  background-color: pink;
  height: 20vh;
  float: bottom;
}
