<form [formGroup]="form" class="change-password-form">
  <div class="row mb-4">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Enter old password</mat-label>
      <input matInput placeholder="Enter old password" type="password" [formControl]="convertToFormControl(form?.controls['oldPass'])" required>
      <mat-error *ngIf="form?.controls['oldPass'].invalid">{{getErrorMessage('oldPass')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row mb-4">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Enter new password</mat-label>
      <input matInput placeholder="Enter new password" type="password" [formControl]="convertToFormControl(form?.controls['newPass'])" required>
      <mat-error *ngIf="form?.controls['newPass'].invalid">{{getErrorMessage('newPass')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row mb-4">
    <mat-form-field appearance="outline">
      <mat-label class="text-secondary">Confirm new password</mat-label>
      <input matInput placeholder="Confirm new password" type="password" [formControl]="convertToFormControl(form?.controls['confirmNewPass'])" required>
      <mat-error *ngIf="form?.controls['confirmNewPass'].invalid">{{getErrorMessage('confirmNewPass')}}</mat-error>
    </mat-form-field>
  </div>
  <button class="btn btn-md btn-outline-danger border-0 me-3">Cancel</button>
  <button class="btn btn-md btn-primary" (click)="onSave()">Save</button>
</form>
