@import "../../../../../shared/scss/main";

*{
  font-style: inherit;
  font-size: 1.5rem;
}

.form-body{
  display: grid;
  grid-row-gap: 2rem;
}

.form-redirection{
  display: flex;
  justify-content: space-between;
}

a{
  &:hover{
    text-decoration: underline;
  }
}

