
.lbl-md {
  font-size: 2rem;
  font-weight: 400;
}

.text-blue-1{
  color: $color-blue-1;
}

label {
  font-size: 1.5rem;
}

.text-grey{
  color: $color-grey-light-3;
}

a {
  &,
  &::before,
  &::after {
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

button{
  font-size: 1.5rem;
}

li {
  list-style: none;
}

button{
  cursor: pointer;
}

.mat-elevation-z8 {
  width: 100%;
  box-shadow: none;
  & th{
    background-color: #323a45;
    color: #fff;
  }
}
.mat-row:hover{
  background-color: rgb(196, 194, 194);
}

.mat-table{
  border-radius: 1rem;
  overflow:hidden !important;
  box-shadow: 20px 20px 50px 15px grey;
}
