<form [formGroup]="form" class="edit-name-form">
  <div class="form-control p-4">
    <app-authentication-input type="text" placeholder="First name" label="First name" [control]="form.controls['firstname']"></app-authentication-input>
  </div>
  <div class="form-control p-4">
    <app-authentication-input type="text" placeholder="Last name" label="Last name" [control]="form.controls['lastname']"></app-authentication-input>
  </div>
  <button class="btn btn-md btn-outline-danger border-0 col-1 me-5" (click)="onClear()">Cancel</button>
  <button class="btn btn-md btn-primary col-1" (click)="onSubmit()">Save</button>
</form>
