.header {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 2em rgba(85, 85, 85, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: white;

  &-right {
    float: right;
    width: 8rem;
    &-avatar {
      text-align: center;
      height: 55px;
      line-height: 60px;
      cursor: pointer;
      &-image{
        border-radius: 50%;
        width: 3.7rem;
        height: 3.7rem;
        cursor: pointer;
      }
    }
  }

  &-btn {
    float: right;
    display: flex;
    text-align: center;
    width: 150px;


    &-signin {
      padding: 10px;
      margin-right: 15px;
      margin-top: 10px;
      background: rgb(164, 75, 197);
      box-shadow: none;
      border: none;
      border-radius: .5rem;
      &:hover {
        color: #3513ca;
        background: #ede8ee;
        box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
      }
    }

    &-signup {
      padding: 10px;
      margin-top: 10px;
      background: rgb(164, 75, 197);
      box-shadow: none;
      border: none;
      border-radius: .5rem;
      &:hover {
        color: #3513ca;
        background: #ede8ee;
        box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
      }
    }
  }
}

#profileImage {
  width: 3.7rem;
  height: 3.7rem;
  margin-left: 2.5rem;
  line-height: 3.7rem;
  border-radius: 50%;
  background: #512DA8;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-image{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.logo {
  width: 3.7rem;
  height:3.7rem;
  margin: 0;
  float: left;
  & img {
    width: 100%;
  }
  &-title{
    font-size: 1.5rem;
    width: 3.7rem;
    height:3.7rem;
    margin: 0;
    float: left;
    line-height: 3.7rem;
    font-weight: 600;
    cursor: pointer;
  }
}
.profile-menu {
  &-name {
    color: #fff;
    text-align: center;
    font-size: large;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
  }
}

.mat-menu-content:not(:empty) {
  width: 100px;
}
