<header>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.0.0/css/all.css">
</header>
<div class="card shadow mb-3">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
      <img [src]="hotel.avatar" alt="..." class="img-fluid rounded-start">
      </div>
      <div class="row">
      </div>
    </div>
    <div class="col-md-5 border-end">
      <h1 class="card-title m-0">{{hotel.name}}</h1>
      <h4 class="m-0">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </h4>
      <p class="card-text m-0 text-primary">{{hotel.address}}, {{hotel.district.nameDistrict}}, {{hotel.district.city.nameCity}}</p>
      <ul class="d-flex p-0">
        <li class="fw-bold me-3 text-success border p-1 rounded" *ngFor="let benefit of benefits">{{benefit.name}}</li>
      </ul>
      <div class="card-text"></div>
    </div>
    <div class="col-md-3">
      <div class="row"></div>
      <div class="row">
        <ng-container *ngIf="hotel.salePercent !== 0">
          <h1 class="text-danger">
            <del>₫ {{hotel.price | number}}</del>
          </h1>
        </ng-container>
        <h1 class="text-success">₫ {{hotel.price - hotel.price * hotel.salePercent / 100 | number}}</h1>
      </div>
      <div class="col-md-10 float-end me-3 d-block">
        <a class="btn btn-primary btn-lg item-fullwidth" (click)="selectRoom()"><span class="button-span">Select room </span><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
