.menu-list{
  width: 13rem;
  min-height: 100vh;
}

.facility {
  display: flex;
}
.add-facility {
  width: 75%;
  margin: 7rem auto;
  display: flex;
  box-shadow: 20px 20px 50px 15px grey;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);

  &-type{
    width: 45%;
  }

  &-of-type{
    width: 45%;
  }
}
