<div class="container">
  <div class="card p-5 shadow mb-3">
    <div class="card-header bg-dark">
      <h3 class="text-white item-center m-0">{{booking.status === 1 ? 'Processing' : booking.status === 2 ? 'Completed'
        : 'Cancelled'}}</h3>
    </div>
    <div class="card-body text-center">
      <p class="text-primary"><strong>Booking ID: {{booking?.id}}</strong></p>
      <div class="row">
        <button *ngIf="booking.status===2" class="btn btn-fill" (click)="review()"
          [disabled]="booking.reviewStatus !==0||booking.checkIn.getTime()>todayDate.getTime()">{{booking.reviewStatus
          === 0 ? 'Review your stay' : 'Reviewed'}}</button>
        <button *ngIf="booking.status === 1" class="btn btn-danger" data-bs-toggle="modal"
          data-bs-target="#cancelModal">Cancel this booking
        </button>
        <!-- Modal -->
        <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="cancelModalLabel"><strong>Cancel booking confirmation</strong></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <span class="material-icons me-3 text-orange-2">warning</span>
                <h2 class="text-danger">Do you want to cancel this booking?</h2>
                <span class="material-icons me-3 text-orange-2">warning</span>
                <h2 class="text-danger">Your booking, sale and applied fees will be no longer available!</h2>
              </div>
              <div class="modal-footer">
                <button id="btnCloseModal" type="button" class="btn btn-secondary btn-close-modal"
                  data-bs-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a class="btn btn-plain" (click)="bookAgain()">Book again</a>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <img [src]="booking.hotel?.avatar" class="card-img-top" alt="Hotel Image">
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <div class="row border-bottom border-end">
            <a>
              <h2 class="text-primary">{{booking.hotel?.name}}</h2>
            </a>
            <h2>
              <span class="fa fa-star {{booking.hotel?.star>=1?'checked':''}}"></span>
              <span class="fa fa-star {{booking.hotel?.star>=2?'checked':''}}"></span>
              <span class="fa fa-star {{booking.hotel?.star>=3?'checked':''}}"></span>
              <span class="fa fa-star {{booking.hotel?.star>=4?'checked':''}}"></span>
              <span class="fa fa-star {{booking.hotel?.star>=5?'checked':''}}"></span>
            </h2>
            <h3 class="text-blue-1">{{booking.hotel?.address}}, {{booking.hotel?.district.nameDistrict}}
              , {{booking.hotel?.district.city.nameCity}}</h3>
          </div>
          <div class="row border-end d-flex align-items-center justify-content-between">
            <div class="col-md-4">
              <h3>Check in</h3>
              <h2 class="text-success">{{booking.checkIn | date: 'dd/MM/yyyy'}}</h2>
            </div>
            <div class="col-md-4">
              <span class="bg-grey rounded p-3">{{booking.totalDays}} night(s)</span>
            </div>
            <div class="col-md-4">
              <h3>Check out</h3>
              <h2 class="text-danger">{{booking.checkOut | date: 'dd/MM/yyyy'}}</h2>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h2 class="text-primary">Contact</h2>
          <p class="text-secondary">Email</p>
          <h3><strong>{{booking.hotel.email}}</strong></h3>
          <p class="text-secondary">Phone</p>
          <h3><strong>{{booking.hotel.phone}}</strong></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="booking-detail__room-info">
    <ng-container *ngFor="let bookingDetail of bookingDetails">
      <app-user-booking-detail-card [bookingDetail]="bookingDetail"></app-user-booking-detail-card>
    </ng-container>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <h2>Guest Info</h2>
    </div>
    <div class="row g-0">
      <div class="col-md-8 ps-3 pt-3 border-end">
        <h4 class="card-title">Lead guess</h4>
        <h3 class="card-title text-primary">{{account.firstname}} {{account.lastname}}</h3>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h4 class="text-secondary">User request</h4>
          <p>{{booking.otherRequirement}}</p>
        </div>
      </div>
      <div class="card-footer">
        <h4>Capacity</h4>
        <h3 class="text-secondary">{{booking.bookedQuantity}} adults</h3>
      </div>
    </div>
  </div>
  <div class="card mb-5 booking-detail__payment-info">
    <div class="card-header">
      <h2>Payment information</h2>
    </div>
    <div class="row">
      <div class="card-body border-bottom">
        <div class="d-flex justify-content-between p-3">
          <h3>Total Price</h3>
          <h3 class="text-danger"><strong>{{booking.totalPaid | number:'1.0-0'}} đ</strong></h3>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="d-flex justify-content-between p-3">
          <p>Payment method</p>
          <h3 class="text-primary"><strong>{{booking.type==1?'Pay at
              hotel':booking.type==2?'VNPAY':'Undefined'}}</strong></h3>
        </div>
      </div>
    </div>
  </div>
</div>