<header>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.0.0/css/all.css">
</header>
<div class="booking-detail col-md-9">
  <div class="booking-detail__summary">
    <label>Booking ID: {{booking?.id}}</label>
    <a class="btn btn-fill">Review your stay</a>
    <a class="btn btn-plain">Book again</a>
  </div>
  <div class="booking-detail__hotel-info">
    <img class="booking-detail__hotel-info--image" [src]="booking.hotel?.avatar" alt="Hotel Image">
    <div class="booking-detail__hotel-info--header">
      <a><h2>{{booking.hotel?.name}}</h2></a>
      <div class="booking-detail__hotel-info--header--rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
      <h3>{{booking.hotel?.address}}, {{booking.hotel?.district.nameDistrict}}
        , {{booking.hotel?.district.city.nameCity}}</h3>
    </div>
    <div class="booking-detail__hotel-info--date">
      <div class="booking-detail__hotel-info--date--checkin">
        <h2>Check in</h2>
        <h1>{{booking.checkIn | date: 'dd/MM/yyyy'}}</h1>
      </div>
      <div class="booking-detail__hotel-info--date--duration">
        <p>{{booking.totalDays}} night(s)</p>
      </div>
      <div class="booking-detail__hotel-info--date--checkout">
        <h2>Check out</h2>
        <h1>{{booking.checkOut | date: 'dd/MM/yyyy'}}</h1>
      </div>
    </div>
    <div class="booking-detail__hotel-info--function">
      <a class="booking-detail__hotel-info--function--confirm"><h2><i class="fa fa-paper-plane" aria-hidden="true"></i>
        Get booking confirmation</h2></a>
      <a class="booking-detail__hotel-info--function--change-date"><h2><i class="fa fa-calendar" aria-hidden="true"></i>
        Change dates</h2></a>
    </div>
  </div>
  <div class="booking-detail__room-info">
    <ng-container *ngFor="let bookingDetail of bookingDetails">
      <app-user-booking-detail-card [bookingDetail]="bookingDetail"></app-user-booking-detail-card>
    </ng-container>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <h2>Guest Info</h2>
    </div>
    <div class="row g-0">
      <div class="col-md-10 ps-3 pt-3 border-end">
        <h4 class="card-title">Lead guess</h4>
        <h3 class="card-title text-primary">{{account.firstname}} {{account.lastname}}</h3>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <a class="booking-detail__guest-info--function--confirm"><h3><i class="fa-solid fa-users"></i> Manage guests
          </h3></a>
        </div>
      </div>
      <div class="card-footer">
        <h4>Capacity</h4>
        <h3 class="text-secondary">{{booking.bookedQuantity}} adults</h3>
      </div>
    </div>
  </div>
  <div class="card mb-5 booking-detail__payment-info">
    <div class="card-header">
      <h2>Payment information</h2>
    </div>
    <div class="row">
      <div class="col-md-8 border-end">
        <div class="card-body row border-bottom">
          <div class="col-md-9">
            <h3>Total Price</h3>
          </div>
          <div class="col-md-3">
            <h3>{{booking.totalPaid}}</h3>
          </div>
        </div>
        <div class="card-body row border-bottom">
          <p>Payment method</p>

        </div>
        <div class="card-body row">
          <p>Earn from this trip</p>
        </div>
      </div>
      <div class="col-md-4">
        end
      </div>
    </div>

  </div>
</div>
