@import "main";

.bookings{
  &__nav{
    display: flex;
    &--link{
      font-size: 2rem;
      font-weight: 400;
      color: #1C658C;
      padding: 1rem;

      &:hover{
        background-color: #1C658C;
        color: #EEEEEE;
        border-bottom: 1px solid #D8D2CB;
      }
    }
  }
}

.active{
  background-color: #1C658C;
  color: #EEEEEE;
  border-bottom: 1px solid #D8D2CB;
}
