@import "main";

//.dropdown {
//  &__btn{
//    display: block;
//    width: 100%;
//    border: 1px solid #000;
//    border-radius: 1rem;
//    font-size: 2rem;
//    padding: 2rem;
//    margin: 1rem 0;
//  }
//  &__content {
//    display: none;
//    position: absolute;
//    border: 1px solid $color-grey-light-2;
//    border-radius: 1rem;
//    padding: 1rem;
//    box-shadow: 1rem 1rem 9rem;
//    z-index: 2;
//    background-color: $color-grey-light-1;
//
//    &__item {
//      display: flex;
//      align-items: center;
//
//
//      &--title {
//        margin-right: auto;
//
//      }
//
//      &--number {
//        border: 1px solid $color-grey-dark-1;
//        padding: .5rem 1rem;
//        border-radius: 1rem;
//
//        &:not(:last-child) {
//          margin-bottom: .5rem;
//        }
//      }
//    }
//  }
//}
//

.dropdown-content{
  display: none;
  z-index: 2;
}

.active{
  display: flex;
  animation-name: moveDown;
  animation-duration: 1s;
  //animation-delay: .75s;
  animation-fill-mode: backwards;
}
