<div class="dropdown">
  <button class="btn btn-lg btn-secondary dropdown-toggle item-fullwidth" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          data-bs-auto-close="outside" aria-expanded="false">
    {{guestNum}} adults, {{roomNum}} rooms
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li class="d-flex justify-content-around">
      <button class="btn text-primary" (click)="toggleNumberMinus(1)">-</button>
      <label class="item-center p-3"><span class="text-primary">{{guestNum}}</span> Adults</label>
      <button class="btn text-primary" (click)="toggleNumberPlus(1)">+</button>
    </li>
    <li class="d-flex justify-content-around">
      <button class="btn text-primary" (click)="toggleNumberMinus(2)">-</button>
      <label class="item-center p-3"><span class="text-primary">{{roomNum}}</span> Rooms</label>
      <button class="btn text-primary" (click)="toggleNumberPlus(2)">+</button>
    </li>
  </ul>
</div>

