@import "src/app/shared/scss/main";
.change-password-form{
  & *{
    margin-bottom: 2rem;
  }
  padding: 5px;
}

// .new-password{
//   box-shadow: 20px 20px 50px 15px grey;
//   transform: translateY(100px);
//   width:40%;
//   margin: 0 auto;
//   background-color: aliceblue;
//   border-radius: 10px;
// }

.form-button{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-fill{
  font-size: 1rem;
  font-weight: 600;
}

.form-body{
  box-shadow: 20px 20px 50px 15px grey;
  transform: translateY(8rem);
  display: grid;
  grid-row-gap: .9rem;
  width: 35%;
  margin: 0 auto;
  border-radius: .5rem;
  text-align: left;
  padding: 2rem;
  background-color: aliceblue;
}


.form-header{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.form-control{
  font-size: 0.5rem;
  background-color: aliceblue;
  border: none;
}
