<div class="new-password">
  <form class="form-body" [formGroup]="form">
    <h2 class="form-header">Enter new password</h2>
    <div class="form-control">
      <label>New Password</label>
      <app-authentication-input type="password" placeholder="New Password" [control]="form?.controls['newPass']">
      </app-authentication-input>
    </div>
    <div class="form-control">
      <label>Confirm New Password</label>
      <app-authentication-input type="password" placeholder="Confirm New Password"
        [control]="form?.controls['confirmNewPass']"></app-authentication-input>
    </div>
    <div class="form-button">
      <button class="btn-logout btn-fill btn-md">Cancel</button>
      <button class="btn-green btn-fill btn-md" (click)="onSave()">Save</button>
    </div>
  </form>
</div>
