<div class="new-password">
  <form class="form-body" [formGroup]="form">
    <h2 class="form-header">Enter new password</h2>
    <div class="row mb-1">
      <mat-form-field appearance="outline">
        <mat-label class="text-secondary">Enter your new password</mat-label>
        <input matInput placeholder="Enter your new password" type="password" [formControl]="convertToFormControl(form?.controls['password'])" required>
        <mat-error *ngIf="form?.controls['password'].invalid">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row mb-1">
      <mat-form-field appearance="outline">
        <mat-label class="text-secondary">Confirm your new password</mat-label>
        <input matInput placeholder="Confirm your new password" type="password" [formControl]="convertToFormControl(form?.controls['confirmPassword'])" required>
        <mat-error *ngIf="form?.controls['confirmPassword'].invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-button">
      <button class="btn-logout btn-fill btn-md">Cancel</button>
      <button class="btn-green btn-fill btn-md" (click)="onSave()">Save</button>
    </div>
  </form>
</div>
