.change-password-form{
  & *{
    margin-bottom: 2rem;
  }
}

.form-button{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-fill{
  font-size: 2rem;
  font-weight: 600;
}
