@import "main";

.form-control{
  font-style: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  padding: .5rem;
  border-radius: .5rem;
}

.control-error{
  font-style: inherit;
  font-weight: 300;
  font-size: 1.5rem;
}
