<div class="field">
  <label class="form-label">{{label}}</label>
  <div class="mb-3">
    <input
      class="form-control form-control-lg"
      [type]="inputType"
      [ngClass]="{'is-danger': control.dirty&&control.touched&&control.errors}"
      placeholder="{{placeholder}}"
      [formControl]="control"
    >
  </div>
  <ng-container *ngIf="control.touched&&control.dirty">
    <div class="text-danger" *ngIf="control.errors?.required">
      {{itemName}} is required
    </div>
    <div class="text-danger" *ngIf="control.errors?.minlength">
      {{itemName}} must be more than {{control.errors?.minlength.requiredLength}} characters
    </div>
    <div class="text-danger" *ngIf="control.errors?.maxlength">
      {{itemName}} must be below {{control.errors?.maxlength.requiredLength}} characters
    </div>
    <div class="text-danger" *ngIf="control.errors?.pattern">
      Invalid {{inputType}} format
    </div>
  </ng-container>
</div>
