.header {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 2em rgba(85, 85, 85, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  &-right {
    float: right;
    width: 350px;
    display: flex;
    text-align: center;

    &-search {
      margin-right: 15px;
      margin-top: 10px;
    }

    &-notifications {
      line-height: 60px;
      margin-right: 15px;
    }

    &-avatar {
      height: 55px;
      width: 55px;
      line-height: 60px;
      cursor: pointer;

      &-img {
        width: 100%;
        border-radius: 50%;
        border: 1px solid rgba($color: #4327df, $alpha: 1);
      }
    }
  }
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0;
  float: left;
  & img {
    width: 100%;
  }
}
.profile-menu{


  &-name{
    text-align: center;
    background-color: aqua;
    font-size: large;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
  }
}

.mat-menu-content:not(:empty){
  width: 100px;
}
