<div class="update-hotel">
  <div class="menu-list">
    <app-negative-bar></app-negative-bar>
  </div>

  <div class="hotel mb-5">


    <form class="form-body" [formGroup]="form">
      <h1 class="text-center">Update Hotel</h1>
      <div class="d-flex justify-content-around">
        <div class=" group">
          <div class="row mb-2">
            <mat-form-field class=" mb-1" appearance="outline">
              <mat-label class="text-secondary">Hotel name</mat-label>
              <input matInput placeholder="Enter your hotel name" type="text"
                [formControl]="convertToFormControl(form?.controls['hotelName'])" required>
              <mat-error *ngIf="form?.controls['hotelName'].invalid">{{getErrorMessage('hotelName')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row mb-1">
            <mat-form-field appearance="outline">
              <mat-label class="text-secondary">Email</mat-label>
              <input matInput placeholder="Enter your email" type="email"
                [formControl]="convertToFormControl(form?.controls['email'])" required>
              <mat-error *ngIf="form?.controls['email'].invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class=" group">
          <div class="row mb-2">
            <mat-form-field class=" mb-1" appearance="outline">
              <mat-label class="text-secondary">Phone number</mat-label>
              <input matInput placeholder="Enter your phone" type="text"
                [formControl]="convertToFormControl(form?.controls['phone'])" required>
              <mat-error *ngIf="form?.controls['phone'].invalid">{{getErrorMessage('phone')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row mb-1">
            <mat-form-field appearance="outline">
              <mat-label class="text-secondary">Address</mat-label>
              <input matInput placeholder="Enter your address" type="text"
                [formControl]="convertToFormControl(form?.controls['address'])" required>
              <mat-error *ngIf="form?.controls['address'].invalid">{{getErrorMessage('address')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <select [formControl]="cityControl" class="form-select form-select-lg select" (change)="changeCityID($event)">
          <option selected value={{city}} disabled>{{city.nameCity}}</option>
          <option *ngFor="let city of cities" [value]="city.id">{{city.nameCity}}</option>
        </select>
        <select [formControl]="districtControl" class="form-select form-select-lg select district" (change)="changeDistrictID($event)">
          <option selected value={{district}} disabled>{{district.nameDistrict}}</option>
          <option *ngFor="let district of districts" [value]="district.id">{{district.nameDistrict}}</option>
        </select>
      </div>
      <div class="addAvatar">
        <label>Hotel avatar</label><br/>
        <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)">
      </div>
      <div class="description ">
        <label>Description</label> <br><br>
        <textarea name="description" id="" cols="105" rows="5" formControlName="description"></textarea>
      </div>
      <div class="form-submit">
        <button class="update-hotel-btn update-hotel-btn-enable" [disabled]="isEnable"
          (click)="enableHotel()">Enable</button>
        <button class="update-hotel-btn update-hotel-btn-save" [disabled]="form.invalid"
          (click)="submit()">Save</button>
        <button class="update-hotel-btn update-hotel-btn-disable" [disabled]="isDisable"
          (click)="disableHotel()">Disable</button>
        <button class="update-hotel-btn update-hotel-btn-request" [disabled]="isPending"
          (click)="addRequestHotel()">Request</button>
      </div>
    </form>
  </div>

</div>
