<div class="form">
  <h2 class="form__header">Forgot Password</h2>
  <form class="form__body">
    <div class="form-control">
      <label>Email</label>
      <app-authentication-input type="text" placeholder="Email" ></app-authentication-input>
    </div>
    <p>Please enter the email that you registered with, and we will send you an OTP to reset your password</p>
    <div class="form-submit">
      <button class="btn-login" [disabled]="form.invalid">Reset password</button>
    </div>
  </form>
</div>
