<div class="card mb-4">
  <div class="card__side card__side--front">
    <div class="card__picture card__picture">
      &nbsp;      <img [src]="hotel?.avatar" class="card-img-top" alt="">
    </div>
    <h4 class="card__heading">
      <span class="card__heading-span">{{hotel.name}}</span>
    </h4>
    <h2 class="m-0 mt-2">
      <span class="fa fa-star {{hotel.star>=1?'checked':''}}"></span>
      <span class="fa fa-star {{hotel.star>=2?'checked':''}}"></span>
      <span class="fa fa-star {{hotel.star>=3?'checked':''}}"></span>
      <span class="fa fa-star {{hotel.star>=4?'checked':''}}"></span>
      <span class="fa fa-star {{hotel.star>=5?'checked':''}}"></span>
    </h2>
    <h3 class="text-blue-3">{{hotel.address}}, {{hotel.district.nameDistrict}}, {{hotel.district.city.nameCity}}</h3>
  </div>
  <div class="card__side card__side--back">
    <div class="card__cta">
      <div class="card__price-box">
        <p class="card__price-only">Only</p>
        <p class="card__price-value"><strong>{{hotel.price - hotel.price * hotel.salePercent / 100 | number}} đ</strong></p>
      </div>
      <a class="btn btn-warning" (click)="redirectHotelDetail()">Book now!</a>
    </div>
  </div>
</div>
