<div class="update-room">
  <div class="menu-list">
    <app-negative-bar [currentTask]="currentTask"></app-negative-bar>
  </div>

  <div class="room mb-5">
    <div class="room-detail-infor">
      <h1>Update Room</h1>
      <div class="group-input">
        <mat-form-field appearance="fill" class="select">
          <mat-label>Hotel</mat-label>
          <mat-select [formControl]="hotelControl" required (selectionChange)="changeHotel($event.value)">
            <mat-option *ngFor="let hotel of hotels" [value]="hotel">
              {{hotel.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hotelControl.hasError('required')">Please choose a hotel</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="select select-room">
          <mat-label>Room</mat-label>
          <mat-select [formControl]="roomControl" required (selectionChange)="changeRoom($event.value)">
            <mat-option *ngFor="let room of rooms" [value]="room">
              {{room.name}}
            </mat-option>
            <mat-option value="newRoom">New Room</mat-option>
          </mat-select>
          <mat-error *ngIf="roomControl.hasError('required')">Please choose a room</mat-error>
        </mat-form-field>
      </div>
      <div class="room-detail">
        <form class="col-md-10 border-right" [formGroup]="form" aria-readonly="true">
          <div class="p-3 py-5">
            <div class="col-md-12"><label class="labels">Room name</label>
              <input type="text" class="form-control" formControlName="name" [disabled]>
            </div>
            <div class="row mt-2">
              <div class="col-md-6"><label class="labels">Quantity room</label>
                <input type="number" class="form-control" formControlName="quantity">
              </div>
              <div class="col-md-6"><label class="labels">Available Room</label>
                <input type="number" class="form-control" formControlName="availableRooms">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6"><label class="labels">Number of People</label>
                <input type="number" class="form-control" formControlName="numberOfPeople">
              </div>
              <div class="col-md-6"><label class="labels">Price</label>
                <input type="number" class="form-control" formControlName="price">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6"><label class="labels">Deal Percentage</label>
                <input type="number" class="form-control" formControlName="dealPercentage">
              </div>
              <div class="col-md-6"><label class="labels">Deal Expire</label>
                <input type="date" class="form-control" value={{room.dealExpire}} formControlName="dealExpire">
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-primary room-button update-room-btn update-room-btn-enable" [disabled]="isEnable"
                (click)="enableRoom()">Enable</button>

              <button class="btn btn-primary room-button" type="submit" (click)="submit()">Save</button>

              <button class="btn btn-primary room-button update-room-btn update-room-btn-disable" [disabled]="isDisable"
                (click)="disableRoom()">Disable</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
