@import "../../shared/scss/main";
* {
  font-style: inherit;
  font-size: 1.2rem;
}
.room {
  border-radius: 10px;
  background-color: aliceblue;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;
  box-shadow: 20px 20px 50px 15px grey;
  border-radius: 10px;
  padding: 10px;

  & h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  &-detail {
    margin-left: 8rem;
    &-infor {
      padding-left: 10px;
      width: 100%;
    }
  }

  &-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;

    &:hover {
      color: #3513ca;
      background: #ede8ee;
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    }
  }
}
.form-control:focus {
  box-shadow: none;
  border-color: #4e68ff;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.update-room {
  display: flex;

  &-btn {
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
}

.group-input {
  display: flex;
}

.select {
  width: 45%;
  padding-left: 2rem;
  background-color: rgb(244, 248, 253);;

  &-room {
    margin-left: 3rem;
  }
}

.form-submit {
  text-align: center;
}
