<div class="container-fluid col-md-10">
  <form [formGroup]="hotelForm" class="hotel-form">
    <div class="row">
      <mat-form-field appearance="fill" class="bg-white rounded mb-3 shadow">
        <!--        <label class="form-label">Destination</label>-->
        <!--        <mat-label>Enter Destination</mat-label>-->
        <input placeholder="Destination" type="text" matInput
               [formControl]="convertToFormControl(hotelForm.controls['destination'])"
               [matAutocomplete]="auto" (input)="onSearchHotelChange($event)">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of results" [value]="option.resultSearch">
            {{option.resultSearch}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="bg-white rounded mb-3 shadow">
        <mat-label>Enter a date range</mat-label>
        <div class="d-flex p-3 rounded border">
          <mat-date-range-input [min]="todayDate" [rangePicker]="picker" class="border p-3">
            <input class="" [selectionStart]="todayDate" readonly matStartDate formControlName="from" placeholder="Start date">
            <input class="ps-3 border-start input-end" readonly matEndDate formControlName="to" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle class="text-grey" matSuffix [for]="picker">
            <!--          <mat-icon class="text-secondary" matDatepickerToggleIcon>mouse</mat-icon>-->
          </mat-datepicker-toggle>
        </div>
        <mat-date-range-picker #picker [minRange]="1" ></mat-date-range-picker>

        <mat-error *ngIf="hotelForm.controls['from'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="hotelForm.controls['to'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
    <div class="row mb-3 bg-white p-5 rounded">
      <label class="form-label">Number of guests</label>
      <app-dropdown class="hotel-form__guest" (guestNumberEvent)="updateGuest($event)"
                    (roomNumberEvent)="updateRoom($event)"></app-dropdown>
    </div>
    <button class="btn btn-success btn-lg col-md-12" [disabled]="hotelForm.invalid" (click)="search()">Search</button>
  </form>
</div>
