@import "../../../../../../shared/scss/main";


.input-end{
  margin-left: 50%;
}

mat-form-field.mat-form-field {
  font-size: 1.8rem;
}

input::placeholder{
  color: grey;
}

mat-form-field.mat-form-field-wrapper{
  padding: 0;
}

.rounded{
  border: 1px solid lightgrey;
  border-radius: 1rem !important;
}
