@import "src/app/shared/scss/_main";
.btn-login{
  width: 100%;
}

.forgot-pass{
  width: 100%;
  font-size: 1rem;
  min-height: 100vh;
}

.form{
  min-width: 30rem;
  box-shadow: 20px 20px 50px 15px grey;
  transform: translateY(4rem);
  width: 40%;
  margin: 0 auto 10rem auto;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}
