@import "src/app/shared/scss/_main";
.btn-login{
  width: 100%;
}

.form{
  width: 50%;
  margin-top: 150px;
  background-color: aliceblue;
  margin-left: 25%;
  padding: 20px;
  border-radius: 10px;
}
