
<div class="form">
  <form class="form__body" [formGroup]="form">
    <h2>Forgot Password</h2>
    <div class="row mb-3">
      <mat-form-field appearance="outline">
        <mat-label class="text-secondary">Enter your email</mat-label>
        <input matInput placeholder="Enter your email" type="email" [formControl]="convertToFormControl(form?.controls['email'])" required>
        <mat-error *ngIf="form?.controls['email'].invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
    </div>
    <p>Please enter the email that you registered with, and we will send you an OTP to reset your password</p>
    <div class="form-submit">
      <button class="btn-green btn-fill item-fullwidth" [disabled]="form.invalid" (click)="click()">Reset password</button>
    </div>
  </form>
</div>
