<h2>Forgot Password</h2>
<simple-notifications></simple-notifications>
<div class="form">
  <form class="form__body" [formGroup]="form">
    <div class="form-control">
      <label>Email</label>
      <app-authentication-input type="text" placeholder="Email" [control]="form.controls['email']"></app-authentication-input>
    </div>
    <p>Please enter the email that you registered with, and we will send you an OTP to reset your password</p>
    <div class="form-submit">
      <button class="btn-green btn-fill item-fullwidth" [disabled]="form.invalid" (click)="click()">Reset password</button>
    </div>
  </form>
</div>
