<div mat-dialog-content>
  <mat-form-field appearance="fill" *ngIf="data.isAdmin">
    <mat-checkbox [(ngModel)]="data.checked" >{{data.message}}</mat-checkbox>
    <input matInput disabled>
  </mat-form-field>
  <mat-form-field *ngIf="!data.isAdmin">you are not authorized to delete</mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled] = "!data.checked" *ngIf="data.isAdmin">Ok</button>
</div>
