<div class="credit-card">
  <div class="credit-card__logo">
    <img src="../../../assets/img/mastercard.png" alt="Card Logo" class="credit-card__logo--image">
  </div>
  <div class="credit-card__info">
    <label class="credit-card__info--card-number">xxxx-xxxx-xxxx-1711</label>
    <label class="credit-card__info--name">Bui Huu Hoan</label>
    <label class="credit-card__info--expiration">01/25</label>
  </div>
  <div class="credit-card__buttons">
    <button class="credit-card__buttons--edit btn-credit">Edit</button>
    <button class="credit-card__buttons--delete btn-credit">Delete</button>
  </div>
</div>
