@import "main";

.filter-active{
  background-color: $color-blue-1;
  & > *{
    color: white!important;

  }
}

.container-fluid{
  //min-height: 100%;
  height: 100%;
}

mat-paginator {
  //background-color: #dcc15e;
  //color: #ffffff;
  display: flex;
  justify-content: center;
}

::ng-deep .mat-paginator-page-size{
  display: none !important;
}

.list-hotel{
  max-width: 120rem;
}

.btn-outline-secondary{
  &:hover{
    background-color: inherit;
    & > *{
      color: rgba(0, 81, 255, 0.89) !important;
    }
  }
}

