@import "../../scss/_main";

.new-admin {
  width: 100%;
  margin: 3rem auto;
  text-align: center;
  box-shadow: 20px 20px 50px 15px grey;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  &-labels {
    font-size: 18px;
    padding-bottom: 5px;
  }
}


.form-body {
  display: grid;
  grid-row-gap: .5rem;
}

