@import "../../scss/_main";

.add-admin {
  display: flex;
}

.new-admin {
  width: 40%;
  margin: 7rem 20rem 7rem 20rem;
  text-align: center;
  box-shadow: 20px 20px 50px 15px grey;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  &-labels {
    font-size: 18px;
    padding-bottom: 5px;
  }
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.form-body {
  display: grid;
  grid-row-gap: .5rem;
}

.form-control {
  padding-bottom: 0;
  border: none;
}
