.manager-list{
  display: flex;
}
.menu-list{
  width: 20%;
  height: 100%;
}
.manager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;

  &-table{
    width: 100%;

    &-remove{
      background-color: rgb(211, 34, 34);
      padding: 5px;

    }
  }
}


.mat-elevation-z8{
  width: 100%;
}
.mat-row:hover{
  background-color: rgb(196, 194, 194);
}
