@import "../../scss/_main";
.manager-list{
  display: flex;
}

.manager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 7rem auto;

  &-table{
    width: 100%;

    &-remove{
      background-color: rgb(211, 34, 34);
      padding: 5px;

    }
  }
}
