@import "main";

.container-fluid {
  display: flex;
  background-color: #fff;
  height: 100vh;
}

.user-detail{
  width: 100%;
  margin: 2rem;
}

.nav-user-active{
  background-color: $color-tertiary;
  color: #fff;
}




