<div class="d-flex">
  <div class="menu-list">
    <app-taskbar></app-taskbar>
  </div>
  <div class="hotel-detail">
    <div class="hotel-banner">
      <img class="hotel-banner-image" src={{url}} alt="background image">
    </div>
    <div class="hotel-infor">
      <h1 class="hotel-name">{{name}}</h1>
      <div class="hotel-content">
        <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
          <mat-tab label="About">
            <div class="about-hotel">
              <P>Hotel name: {{name}}</P>
              <P>Hotel address: {{address}} - {{nameDistrict}}</P>
              <P>Description: {{description}}</P>
              <P>Provider name: {{providerName}}</P>
            </div>

          </mat-tab>
          <mat-tab label="Room">
            <div *ngFor="let room of rooms" class="room-detail">
              <app-room-detail [room]="room"></app-room-detail>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
