@import "../../scss/_main";
.hotel-detail {
  width: 70%;
}


.hotel {
  &-detail {
    margin: 0 auto;
  }
  &-banner {
    background-color: none;
    height: auto;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 7rem auto 0 auto;
    box-shadow: 20px 20px 50px 15px grey;

    &-image {
      width: 100%;
      border-radius: .5rem;

    }

    &-img {
      width: 100%;
      filter: blur(5px);
    }
  }

  &-infor {
    text-align: center;
    position: relative;
    top: -7rem;
    width: 80%;
    margin: 0 auto;
  }

  &-name {
    font-size: 3rem;
    color: rgb(10, 10, 10);
    font-weight: 700;
    line-height: 70px;
    white-space: nowrap;
  }

  &-content {
    box-shadow: 20px 20px 50px 15px grey;
    border-radius: .5rem;
    background-color: aliceblue;
    color: rgb(10, 10, 10);
    text-align: left;
    padding: 10px;
    ::ng-deep .mat-tab-labels {
      justify-content: center;
    }
  }
}

.room-detail {
  margin-bottom: 20px;
  margin-top: 20px;
}
