.hotel-detail {
  padding-top: 60px;
  width: 70%;
}
.menu-list {
  width: 13rem;
  height: 100%;
}

.hotel {
  &-banner {
    height: 500px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &-image {
      width: 100%;
    }

    &-img {
      width: 100%;
      filter: blur(5px);
    }
  }

  &-infor {
    text-align: center;
    position: relative;
    top: -100px;
    width: 80%;
    margin: 0 auto;

  }

  &-name {
    font-size: 70px;
    color: rgb(10, 10, 10);
    font-weight: 700;
    line-height: 70px;
    white-space: nowrap;
  }

  &-content {
    box-shadow: 20px 20px 50px 15px grey;
    border-radius: 10px;
    background-color: aliceblue;
    color: rgb(10, 10, 10);
    text-align: left;
    padding: 10px;
    ::ng-deep .mat-tab-labels {
      justify-content: center;
    }
  }
}

.room-detail{
  margin-bottom: 20px;
  margin-top: 20px;
}
