<div class="hotel-detail">
  <div class="hotel-banner">
    <img class="hotel-banner-image"
    src={{hotel.avatar}}
    alt="background image">
  </div>
  <div class="hotel-infor">
    <h1 class="hotel-name">{{ hotel.name }}</h1>
    <div class="hotel-content">
      <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
        <mat-tab label="About">
          <app-about-hotel [hotel]="hotel"></app-about-hotel>
        </mat-tab>
        <mat-tab label="Room">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
