.hotel-detail {
  background-color: #151515;
  padding-top: 60px;
}

.hotel {
  &-banner {
    height: 500px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &-image {
      width: 100%;
    }

    &-img {
      width: 100%;
      filter: blur(5px);
    }
  }

  &-infor {
    text-align: center;
    position: relative;
    top: -100px;
    width: 60%;
    margin: 0 auto;
  }

  &-name {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    line-height: 70px;
    white-space: nowrap;
  }

  &-content {
    background: rgb(63 81 181 / 61%);
    color: #fff;
    text-align: left;
    padding: 10px;
    ::ng-deep .mat-tab-labels {
      justify-content: center;
    }
  }
}
