<div class="benefit">
  <div class="menu-list">
    <app-taskbar [currentTask]="currentTask"></app-taskbar>
  </div>

  <div class="add-benefit">
    <div class="add-benefit-type">
      <form class="col-md-10 border-right" [formGroup]="formGroup">
        <div class="p-3 py-5">
          <h1>New Benefit Type</h1>
          <div class="col-md-12"><label class="labels">Benefit Type</label>
            <input type="text" class="form-control" formControlName="benefitType">
          </div>
          <div class="col-md-12"><label class="labels">Benefit Icon</label>
            <input type="text" class="form-control" formControlName="icon">
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" (click)="addBenefitType()">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div class="add-benefit-of-type">
      <app-add-benefit></app-add-benefit>
    </div>
  </div>
</div>
