<div class="request">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="bookings">
      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="bookingDate">
        <th mat-header-cell *matHeaderCellDef> Booking Date </th>
        <td mat-cell *matCellDef="let element"> {{element.bookingDate}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="checkIn">
        <th mat-header-cell *matHeaderCellDef> CheckIn </th>
        <td mat-cell *matCellDef="let element">{{element.checkIn}}</td>
      </ng-container>

      <ng-container matColumnDef="checkOut">
        <th mat-header-cell *matHeaderCellDef> CheckOut </th>
        <td mat-cell *matCellDef="let element"> {{element.checkOut}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="totalPaid">
        <th mat-header-cell *matHeaderCellDef> Total Paid </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPaid}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="bookedQuantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element">{{element.bookedQuantity}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="m-auto">
    <mat-paginator [length]="total" [pageSize]="pageSize" (page)="getPaginatorData($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
