@import "main";

//.card {
//  display: grid;
//  grid-template-columns: 20rem auto auto;
//  grid-template-rows: 10rem 10rem;
//  box-shadow: .2rem .2rem .2rem .2rem rgba($color-grey-dark-2, .5);
//  margin-bottom: 1rem;
//  padding: 1rem;
//
//  h1{
//    color: $color-blue-2;
//  }
//
//  h2{
//    color: $color-orange-1;
//  }
//
//  .upcoming{
//    color: orange;
//  }
//
//  .completed{
//    color: green;
//  }
//
//  .cancelled{
//    color: red;
//  }
//
//  &__avatar {
//    grid-row: 1/3;
//    grid-column: 1/2;
//    &--image{
//      height: 100%;
//      width: 100%;
//    }
//  }
//
//  &__date{
//    margin-left: auto;
//  }
//
//  &__title{
//    grid-column: 2/3;
//    grid-row: 1/2;
//    padding-left: 1rem;
//  }
//
//  &__review{
//    grid-column: 2/3;
//    grid-row: 2/3;
//    margin-top: auto;
//
//  }
//
//  &__price{
//    grid-column: 3/4;
//    grid-row: 2/3;
//  }
//
//  &__details{
//    grid-column: 3/4;
//    grid-row: 2/3;
//    margin-top: auto;
//    margin-left: auto;
//  }
//}
//
//.btn-details{
//
//}
