<div class="profile">
  <div class="menu-list">
    <app-taskbar></app-taskbar>
  </div>
  <div class="profile-detail">

    <div class="profile-detail-avatar">
      <div class="d-flex flex-column align-items-center text-center">
        <img class="rounded-circle profile-detail-avatar-image" src={{account.avatar}} data-bs-toggle="modal"
          data-bs-target="#exampleModal">
        <span> </span>
        <h2 class="mt-2">{{account.username.slice(2)}}</h2>
        <h3>{{account.email}}</h3>
        <span> </span>
      </div>
    </div>
    <div class="profile-detail-infor">
      <form class="col-md-10 border-right" [formGroup]="formGroup" (ngSubmit)="updateProfile()">
        <div class="p-3 py-5">
          <h1>Profile Setting</h1>
          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">First name</label>
              <input type="text" class="form-control" formControlName="firstname" required>
            </div>
            <div class="col-md-6"><label class="labels">Last name</label>
              <input type="text" class="form-control" formControlName="lastname" required>
            </div>
          </div>
          <div class="col-md-12"><label class="labels" required>Address</label>
            <input type="text" class="form-control" formControlName="address">
          </div>
          <div class="col-md-12"><label class="labels">Phone number</label>
            <input matInput type="text" class="form-control" formControlName="phone" (ngModelChange)="checkPhone()" required>
            <small *ngIf="isPhone" class="text-danger">Phone number is not valid</small>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" [disabled]="!formGroup.valid" type="submit">Save Profile</button>
          </div>
        </div>
      </form>
    </div>
    <div class="changPassword">
      <app-change-password></app-change-password>
    </div>
  </div>
</div>

<div class="modal fade w-100 h-100" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image picker</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row shadow p-5 m-5">
          <label>
            <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
          </label>
        </div>
        <img id="preview-image" class="img-fluid item-center m-auto" src="#" alt="H">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="upload()" data-bs-dismiss="modal">Save changes
        </button>
      </div>
    </div>
  </div>
</div>
