<div class="profile">
  <div class="profile-detail">
    <div class="profile-detail-avatar">
      <div class="d-flex flex-column align-items-center text-center">
        <img class="rounded-circle profile-detail-avatar-image" src={{account.avatar}} data-bs-toggle="modal"
          data-bs-target="#exampleModal">
        <span> </span>
        <h2 class="mt-2">{{username}}</h2>
        <h3>{{account.email}}</h3>
        <span> </span>
      </div>
    </div>
    <div class="profile-detail-infor">
      <form class="col-md-10 border-right" [formGroup]="formGroup" (ngSubmit)="updateProfile()">
        <div class="p-3 py-5">
          <h1>Profile Setting</h1>
          <div class="d-flex justify-content-around">
            <div class="row mb-1 name">
              <mat-form-field appearance="outline">
                <mat-label class="text-secondary">First name</mat-label>
                <input matInput placeholder="First name" type="text" [formControl]="convertToFormControl(formGroup?.controls['firstname'])" required>
                <mat-error *ngIf="formGroup?.controls['firstname'].invalid">{{getErrorMessage('firstname')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="row mb-1 name">
              <mat-form-field appearance="outline">
                <mat-label class="text-secondary">Last name</mat-label>
                <input matInput placeholder="Last name" type="text" [formControl]="convertToFormControl(formGroup?.controls['lastname'])" required>
                <mat-error *ngIf="formGroup?.controls['lastname'].invalid">{{getErrorMessage('lastname')}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-1">
            <mat-form-field appearance="outline">
              <mat-label class="text-secondary">Address</mat-label>
              <input matInput placeholder="Enter your address" type="text" [formControl]="convertToFormControl(formGroup?.controls['address'])" required>
              <mat-error *ngIf="formGroup?.controls['address'].invalid">{{getErrorMessage('address')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row mb-1">
            <mat-form-field appearance="outline">
              <mat-label class="text-secondary">Phone number</mat-label>
              <input matInput placeholder="Enter your phone number" type="text" [formControl]="convertToFormControl(formGroup?.controls['phone'])" required>
              <mat-error *ngIf="formGroup?.controls['phone'].invalid">{{getErrorMessage('phone')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" [disabled]="!formGroup.valid" type="submit">Save Profile</button>
          </div>
        </div>
      </form>
    </div>
    <div class="changPassword">
      <app-change-password></app-change-password>
    </div>
  </div>
</div>

<div class="modal fade w-100 h-100" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image picker</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row shadow p-5 m-5">
          <label>
            <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
          </label>
        </div>
        <img id="preview-image" class="img-fluid item-center m-auto" src="#" alt="">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="upload()" data-bs-dismiss="modal">Save changes
        </button>
      </div>
    </div>
  </div>
</div>
