@import "main";
.container{
  display: grid;
  grid-template-rows: min-content 50vh min-content min-content;
  grid-template-columns:  [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
.coupon {
  grid-row: 1/2;
  grid-column: full-start/full-end;
  height: 20vh;
  background-color: grey;
}

.booking {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;
  background-color: $color-white;
}

.top-place{
  grid-row: 3/4;
  grid-column: center-start / center-end;
  background-color: #f03c60;
  height: 20vh;
}
.about{
  grid-row: 4/5;
  grid-column: center-start / center-end;
  background-color: bisque;
  height: 20vh;
}

