@import "../../scss/_main";
.user-detail{
  display: flex;
}

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 7rem auto;
  box-shadow: 20px 20px 50px 15px grey;
  padding: 1rem;
  border-radius: .5rem;
}
.mat-tab-group {
  width: 100%;
}
