@import "../../scss/_main";

.hotels {
  display: flex;
}

.hotel {
  width: 100%;
  margin: 3rem auto;

  &-detail{
    border: none;
    background-color: #fff;
    color: rgb(78, 78, 223);
  }
}
table {
  width: 100%;
}
