.hotels {
  display: flex;
}
.menu-list {
  width: 20%;
  height: 100%;
}
.hotel {
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;

  &-detail{
    border: none;
    background-color: #fff;
    color: rgb(78, 78, 223);
  }
}
table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
