<div class="hotels">
  <div class="menu-list">
    <app-taskbar [currentTask]="currentTask"></app-taskbar>
  </div>
  <div class="hotel">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="hotels">
        <!-- Name Column -->
        <ng-container matColumnDef="hotelName">
          <th mat-header-cell *matHeaderCellDef> Hotel </th>
          <td width="200" mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lowestPrice">
          <th mat-header-cell *matHeaderCellDef> Lowest Price </th>
          <td width="200" mat-cell *matCellDef="let element"> {{element.lowestPrice}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td width="500" mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td width="200" mat-cell *matCellDef="let element">
            <button class="btn btn-outline-danger" (click)="deleteHotel(element.id)">Ban</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td width="200" mat-cell *matCellDef="let element">
            <button class="hotel-detail" (click)="openHotelDetail(element.id)">Detail>></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="rows">
      <mat-paginator [length]="total" [pageSize]="pageSize" (page)="getPaginatorData($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
