<div class="hotel">
  <simple-notifications></simple-notifications>
  <h1>New Hotel</h1>
  <form class="form-body" [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label>Hotel</label>
      <app-authentication-input type="text" placeholder="Hotel name" [control]="form.controls['hotelName']">
      </app-authentication-input>
    </div>
    <div class="form-control">
      <label>Email</label>
      <app-authentication-input type="text" placeholder="Email" [control]="form.controls['email']">
      </app-authentication-input>
    </div>
    <div class="form-control">
      <label>Phone</label>
      <app-authentication-input type="text" placeholder="Phone number" [control]="form.controls['phone']">
      </app-authentication-input>
    </div>
    <div class="form-control">
      <label>Address</label>
      <app-authentication-input type="text" placeholder="Hotel address" [control]="form.controls['address']">
      </app-authentication-input>
    </div>
    <div class="form-control">
      <label>Description</label>
      <app-authentication-input type="text" placeholder="Hotel description" [control]="form.controls['description']">
      </app-authentication-input>
    </div>
    <div class="form-submit">
      <button class="btn-blue btn-fill item-fullwidth" [disabled]="form.invalid">Save</button>
    </div>
  </form>
</div>
