.hotels-approve {
  display: flex;
}
.menu-list {
  width: 20%;
  height: 100%;
}
.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;
}
table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.request-btn {
  &-accept {
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(35, 207, 35);

    &:hover {
      color: #3f51b5;
      background-color: #fff;
      border: 1px solid #3f51b5;
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    }
  }

  &-deny {
    padding: 5px;
    border-radius: 4px;
    margin-left: 20px;
    background-color: rgb(233, 20, 20);

    &:hover {
      color: #3f51b5;
      background-color: #fff;
      border: 1px solid #3f51b5;
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    }
  }
}
