@import "main";

.room-facilities{
  &__button{
    &:hover{

    }
  }
}

.detail-list-facility{
  display: none;
  min-width: 40rem;
}

.see-all-hover:hover + .detail-list-facility, .detail-list-facility:hover{
  display: block !important;
  z-index: 2;
}

.flex-list{
  flex-basis: 15rem;
  min-width: 15rem;
}

.btn{
  font-size: 1.6rem;
}


