<div class="card position-relative">
  <div class="card-header">
    <h2>{{roomType.name}}</h2>
  </div>
  <div class="card-body bg-light-grey">
    <div class="row">
      <div class="col-md-2">
          <div class="row p-1">
            <img class="room-type-img p-0" [src]="roomDetail?.listImage[0]?.src" alt="">
          </div>
          <div class="row">
            <div class="col-md-6 p-1">
              <img class="room-type-img" [src]="roomDetail?.listImage[1]?.src" alt="">
            </div>
            <div class="col-md-6 p-1">
              <img class="room-type-img" [src]="roomDetail?.listImage[2]?.src" alt="">
            </div>
          </div>
        <a data-bs-toggle="modal"
           [attr.data-bs-target]="'#room-type-image-modal-'+roomType.id"><h4 class="text-primary mb-1">Room photos and
          details</h4></a>
        <ul class="list-inline">
          <li *ngFor="let item of roomDetail?.listFacility">
            <p class="text-grey-dark-1"><i class="{{item.facilities[0].icon}} me-1"></i> {{item.facilities[0].name}}</p>
          </li>
        </ul>
        <div class="room-facilities position-relative">
          <div class="see-all-hover">
            <a><h4 class="card-text text-primary small room-facilities__button"><i class="fa fa-plus-circle"
                                                                                   aria-hidden="true"></i> See all
              room facilities</h4></a>
          </div>
          <div class="detail-list-facility container position-absolute bg-white shadow border p-5">
            <div class="row">
              <ul class="d-flex flex-wrap">
                <li class="flex-list" *ngFor="let facilityType of roomDetail?.listFacility">
                  <p><b>{{facilityType.name}}</b></p>
                  <ul class="list-inline">
                    <li class="" *ngFor="let facility of facilityType.facilities">
                      <p><i class="{{facility.icon}} me-1"></i> {{facility.name}}</p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4"><h3 class="card-title mb-0"><b>Benefits</b></h3></div>
          <div class="col-md-1"><h3 class="card-title mb-0"><b>Sleeps</b></h3></div>
          <div class="col-md-3"><h3 class="card-title mb-0"><b>Price per night</b></h3></div>
          <div class="col-md-1"><h3 class="card-title mb-0"><b>Rooms</b></h3></div>
          <div class="col-md-3"><h3 class="card-title mb-0"><b>Most booked</b></h3></div>
        </div>
        <div class="row bg-white p-3">
          <div class="col-md-4"></div>
          <div class="col-md-1">
            <h2 class="card-text text-grey">{{roomType.numberOfPeople}} x <i [class]="iconMale" aria-hidden="true"></i>
            </h2>
          </div>
          <div class="col-md-3">
            <ng-container *ngIf="roomType.dealPercentage !== 0">
              <h1 class="text-danger">
                <del>₫ {{roomType.price | number}}</del>
              </h1>
            </ng-container>
            <h1 class="text-success">₫ {{roomType.price - roomType.price * roomType.dealPercentage / 100 | number}}</h1>
          </div>
          <div class="col-md-1">
            <h2 class="card-title bg-light-grey p-3 item-center">{{filter.roomNumber}}</h2>
          </div>
          <div class="col-md-3" *ngIf="roomType.availableRooms!==0">
            <button type="button" class="btn btn-outline-primary d-block w-100 mb-3 p-3" (click)="addToCart()"><strong>Add to
              cart</strong>
            </button>
            <button type="button" class="btn btn-primary d-block w-100 p-3" (click)="bookNow()"><strong>Book now</strong></button>
            <h3 *ngIf="roomType.availableRooms > 1" class="text-danger float-end"><strong>Our last {{roomType.availableRooms}} rooms!</strong></h3>
            <h3 *ngIf="roomType.availableRooms === 1" class="text-danger float-end"><strong>Our last room!</strong></h3>
          </div>
          <div class="col-md-3" *ngIf="roomType.availableRooms===0">
            <button type="button" class="btn btn-outline-danger d-block w-100 mb-3 p-3" disabled><strong>Out of rooms</strong>
            </button>
<!--            <button type="button" class="btn btn-primary d-block w-100 p-3">Book now</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <!-- Modal -->
        <div class="modal fade" id="room-type-image-modal-{{roomType.id}}" tabindex="-1"
             aria-labelledby="room-type-image-modal-label"
             aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div id="carouselImageRoomTypeControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <app-images-carousel [listImage]="roomType.listImage"></app-images-carousel>
                </div>
                <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselImageRoomTypeControls"
                        data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselImageRoomTypeControls"
                        data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
