
.menu-list{
  width: 13rem;
  height: 100%;
}

.container{
  width: 75%;
  margin: 90px auto;
}
.btn-danger, .btn-close-modal{
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

a{
  color: blue;
  &:hover{
    text-decoration: underline;
  }
}

.checked{
  color: gold;
}
