.btn-login{
  background: #8f3682;
  background-image: -webkit-linear-gradient(45deg, rgba($color-primary,.3), rgba($color-secondary, .4));
  background-image: -moz-linear-gradient(45deg, rgba($color-primary,.3), rgba($color-secondary, .4));
  background-image: -ms-linear-gradient(45deg, rgba($color-primary,.3), rgba($color-secondary, .4));
  background-image: -o-linear-gradient(45deg, rgba($color-primary,.3), rgba($color-secondary, .4));
  background-image: linear-gradient(45deg, rgba($color-primary,.3), rgba($color-secondary, .4));
  //-webkit-border-radius: 13;
  //-moz-border-radius: 13;
  border: 1px solid #fff;
  border-radius: 1rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
}

.btn-guest-modifier{
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
  color: $color-secondary;
  cursor: pointer;
}

.btn-done{
  font-size: 1.8rem;
  padding: .2rem;
  border-radius: 1rem;
  color: $color-secondary;
}

.btn-edit{
  border: none;
  font-size: 2rem;
  background-color: #fff;
  padding: 2rem;
  cursor: pointer;
}

.dropdown-button{
  cursor: pointer;
  &:hover{
    background-color: $color-secondary;
  }
}
