.lbl-md {
  font-size: 2rem;
  font-weight: 400;
}

h1 {
  font-style: inherit;
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
  font-weight: 200;
}

label {
  font-size: 2rem;
}

.text-danger {
  color: #FC4F4F;
}

a {
  &,
  &::before,
  &::after {
    text-decoration: none;
    cursor: pointer;
  }
}

li {
  list-style: none;
}

button{
  cursor: pointer;
  border: none;
}

