
.lbl-md {
  font-size: 2rem;
  font-weight: 400;
}

.text-blue-1{
  color: $color-blue-1;
}

label {
  font-size: 2rem;
}

.text-danger {
  color: #FC4F4F;
}

a {
  &,
  &::before,
  &::after {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

button{
  font-size: 2rem;
}

li {
  list-style: none;
}

button{
  cursor: pointer;
  border: none;
}

