* {
  font-style: inherit;
  font-size: 1.5rem;
}
.requests {
  display: flex;
}
.menu-list {
  width: 210px;
  height: 100%;
}
.request {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto;
  padding-top: 90px;

  &-detail {
    width: 90%;
    margin: 20px;
    border: none;
    background-color: aliceblue;
    color: rgb(78, 78, 223);
  }

}
table {
  width: 100%;
  border-radius: 10px;
  background-color: aliceblue;
}

.mat-elevation-z8 {
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

