@import "../../shared/scss/main";
* {
  font-style: inherit;
  font-size: 1rem;
}
.requests {
  display: flex;
}

.request {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 7rem auto;

  &-cancel {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
    padding: 5px;
    border-radius: 5px;

    &:hover {
      color: #3513ca;
      background: #ede8ee;
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    }
  }
}
table {
  width: 100%;
  border-radius: 10px;
  background-color: aliceblue;
}

