.container{
  font-size: 2.5rem;
  font-style: inherit;
}

.alert-success{
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-danger{
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn{
  color: red;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid red;
  //padding: 0rem .5rem .2rem .5rem;
  text-align: center;
}

a{
  text-decoration: none;
}

