
*{
  font-size: 2rem;
}

.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
  padding: 1rem;
  text-align: center;
}

.vip-1{
  color: black;
}

.vip-2{
  color: #8f8f8f;
}
.vip-3{
  color: #f7cf01;
}
.vip-4{
  color: #03ffbb;
}
.vip-5{
  color: #2d6f9f;
}


