<h2>Sign up</h2>
<div class="alert"><app-alert></app-alert></div>
<form class="form-body" [formGroup]="form" (ngSubmit)="submit()">
    <app-authentication-input type="text" placeholder="First Name" label="First Name" [control]="form?.controls['firstname']"></app-authentication-input>
    <app-authentication-input type="text" placeholder="Last Name" label="Last Name" [control]="form?.controls['lastname']"></app-authentication-input>
    <app-authentication-input type="text" placeholder="Username" label="Username" [control]="form?.controls['username']"></app-authentication-input>
    <app-authentication-input type="text" placeholder="Email" label="Email" [control]="form?.controls['email']"></app-authentication-input>
    <app-authentication-input type="password" placeholder="Password" label="Password" [control]="form?.controls['password']"></app-authentication-input>
    <app-authentication-input type="password" placeholder="Confirm Password" label="Confirm Password" [control]="form?.controls['confirmPassword']"></app-authentication-input>
  <div class="form-submit">
    <button class="btn-blue btn-fill item-fullwidth" [disabled]="form.invalid">Sign up</button>
  </div>
</form>
