<div class="container p-0">
  <div class="row mb-3">
    <div class="col-md-4">
      <img [src]="hotel?.avatar" alt="" width="100%" height="100%">
    </div>
    <div class="col-md-8">
      <ul>
        <li *ngFor="let image of roomTypes[0]?.listImage">
          <img [src]="image.src" alt="" class="col-md-4" width="100%" height="100%">
        </li>
      </ul>
    </div>
  </div>
  <div class="row mb-3"></div>
  <div class="row m-0 mb-3">
    <div class="col-md-9">
      <div class="row mb-3">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><b>{{hotel.name}}</b></h1>
            <h4 class="m-0">
              <span class="fa fa-star checked me-2"></span>
              <span class="fa fa-star checked me-2"></span>
              <span class="fa fa-star checked me-2"></span>
              <span class="fa fa-star checked me-2"></span>
              <span class="fa fa-star checked me-2"></span>
            </h4>
            <h3>{{hotel.address}}, {{hotel.district?.nameDistrict}}, {{hotel.district?.city.nameCity}}</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card p-0">
          <h2 class="card-header">Hotel's benefits</h2>
          <div class="card-body">

            <div class="row">
              <ul class="d-flex flex-wrap">
                <li class="flex-list" *ngFor="let benefitType of benefitTypes">
                  <div class="">
                    <p><b>{{benefitType.name}}</b></p>
                    <ul class="list-inline">
                      <li class="" *ngFor="let benefit of benefitType.benefits">
                        <i class="fa fa-check text-success" aria-hidden="true"></i> {{benefit.name}}

                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <ng-container>
          <ul>
            <li></li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </div>
  <ul class="list-inline">
    <li class="mb-3" *ngFor="let roomType of roomTypes">
      <app-room-type-card [roomType]="roomType"></app-room-type-card>
    </li>
  </ul>
</div>


