
<div class="card">
  <div class="card-header">
    <h2 class="text-primary"><strong>Thread no: {{decryptedFeedbackId}}</strong></h2>
  </div>
  <div class="card-body">
    <div class="row message-zone">
      <ul class="list-inline">
        <li *ngFor="let response of responses">
          <div class="col-md-10 mb-3 {{response.sendBy===1?'me-auto':'ms-auto'}}">
            <app-response-message [response]="response"></app-response-message>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <div class="card-footer">
    <form [formGroup]="messageForm">
    <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control form-control-lg" formControlName="message" placeholder="Message">
      </div>
      <div class="col-md-1">
        <button [disabled]="responses.length === 0" class="btn btn-lg btn-primary" (click)="sendMessage()">Send</button>
      </div>
    </div>
    </form>

  </div>
</div>
